@charset "UTF-8";

/* colgroup */
.colgroup{position:relative; width:100%;}
@media all and (max-width:1000px){
    .colgroup{margin-top:40px}
}
@media all and (max-width:640px){
    .colgroup{margin-top:0}
}

/* 콘텐츠 */
#contents{position:relative; min-height:600px; margin-top:60px; margin-bottom:90px;}
@media all and (max-width:1000px){
    #contents{margin-top:40px; margin-bottom:40px}
}
@media all and (max-width:800px){
    #contents{margin-top:30px;}
}
@media all and (max-width:640px){
    #contents{min-height:300px; margin-bottom:45px;}
}

/* 서브헤드 */
.sub_wrap{position:relative;}
.sub_head{position:relative; height:290px; margin-bottom:65px; padding-top:100px; text-align:center;}
.sub_head:before{display:block; position:absolute; top:0; left:calc(50% - 50vw); width:100vw; height:100%; background:url('../images/sub/sub_head_bg1.jpg') no-repeat center top / cover;}
.sub_head .sub_title{position:relative; padding-top:42px;}
.sub_head .sub_title h2{position:relative; color:#222; font-size:40px; line-height:45px; letter-spacing:-0.05em; font-weight:600; word-break:keep-all;}
@media all and (max-width:1000px){
    .sub_head{height:230px; margin-bottom:0; padding-top:80px;}
    .sub_head .sub_title{padding-top:32px;}
    .sub_head .sub_title h2{font-size:30px; line-height:35px;}
}
@media all and (max-width:640px){
    .sub_head{height:180px; padding-top:60px;}
    .sub_head:before{background-image:url('../images/sub/sub_head_bg2.jpg')}
    .sub_head .sub_title{padding-top:29px;}
    .sub_head .sub_title h2{font-size:26px; line-height:30px;}
}

/* 브래드크럼 */
.breadcrumbs{position:absolute; top:0; left:0; right:0; margin:0 auto; font-size:0; line-height:0;}
.breadcrumbs .breadcrumbs_item{display:inline-block; position:relative; margin-left:10px; padding-left:20px; vertical-align:top;}
.breadcrumbs .breadcrumbs_item:before{display:block; position:absolute; top:0; bottom:0; left:0; width:8px; height:11px; margin-top:auto; margin-bottom:auto; background:url('../images/sub/breadcrumbs_sprite.png') no-repeat left 100% / 262.5% 372.72%;}
.breadcrumbs .breadcrumbs_item.home{margin-left:0; padding-left:0}
.breadcrumbs .breadcrumbs_item.home:before{display:none}
.breadcrumbs .breadcrumbs_item.home .breadcrumbs_anchor{width:21px; height:20px; margin-right:2px; background:url('../images/sub/breadcrumbs_sprite.png') no-repeat left 0 / 100% 204.99%; font-size:0;}
.breadcrumbs .breadcrumbs_item .breadcrumbs_anchor{color:#343434; font-size:16px; line-height:20px; letter-spacing:-0.05em;}
.breadcrumbs .breadcrumbs_item:hover .breadcrumbs_anchor{text-decoration:underline;}
@media all and (max-width:1000px){
    .breadcrumbs .breadcrumbs_item{margin-left:10px; padding-left:15px;}
    .breadcrumbs .breadcrumbs_item.n1{margin-left:7px;}
    .breadcrumbs .breadcrumbs_item:before{width:6px; height:10px;}
    .breadcrumbs .breadcrumbs_item .breadcrumbs_anchor{font-size:14px; line-height:17px;}
    .breadcrumbs .breadcrumbs_item.home .breadcrumbs_anchor{width:18px; height:17px;}
}

/* 공유, 인쇄 */
.addons{position:absolute; top:122px; right:0; font-size:0; line-height:0;}
.addons .addons_item{display:inline-block; position:relative; width:46px; height:46px; margin-left:5px; border-radius:50%; box-shadow:2px 5px 10px 0 rgba(37, 2, 52, 0.05); background-color:#fff; vertical-align:top;}
.addons .addons_item:first-child{margin-left:0;}
.addons .addons_item .addons_button{display:block; position:relative; z-index:20; width:46px; height:46px; background-color:#fff; border-radius:50%;}
.addons .addons_item .addons_button:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:24px; height:26px; margin:auto; background:url('../images/sub/addons_sprite.png') no-repeat 100% 1207.69%;}
.addons .addons_item.share .addons_button:before{background-position:left 0;}
.addons .addons_item.print .addons_button:before{background-position:left 12.5%;}
.addons .share_panel{display:none; position:absolute; z-index:10; top:0; right:23px; width:287px; height:46px; border-radius:30px 0 0 30px; box-shadow:2px 5px 10px 0 rgba(37, 2, 52, 0.05); background-color:#fff;}
.addons .share_list{padding-left:32px;}
.addons .share_item{display:inline-block; position:relative; vertical-align:middle; transition:all 0.25s linear;}
.addons .share_item .share_anchor{display:block; position:relative; width:24px; height:46px; margin-right:16px; font-size:0; line-height:0;}
.addons .share_item:first-child .share_anchor{margin-right:21px;}
.addons .share_item .share_anchor:before, .addons .share_close:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:24px; height:26px; margin:auto; background:url('../images/sub/addons_sprite.png') no-repeat 100% 557.89%;}
.addons .share_item.n1 .share_anchor:before{background-position:left 37.5%; background-size:100% 1207.69%;}
.addons .share_item.n2 .share_anchor:before{background-position:left 50%; background-size:100% 1207.69%;}
.addons .share_item.n3 .share_anchor:before{background-position:left 62.5%; background-size:100% 1207.69%;}
.addons .share_item.n4 .share_anchor:before{background-position:left 75%; background-size:100% 1207.69%;}
.addons .share_item.n5 .share_anchor:before{background-position:left 87.5%; background-size:100% 1207.69%;}
.addons .share_item.n6 .share_anchor:before{background-position:left 100%; background-size:100% 1207.69%;}

.addons .share.active .addons_button:before{background-position:left 25%; background-size:100% 1207.69%;}
.addons .share_item:hover{animation:0.5s ease-in-out up-down;}
@keyframes up-down{
    from{transform:translateY(-5px)}
    to{transform:translateY(0)}
}
@media all and (max-width:1000px){
    .addons{position:relative; display:block; top:100%; width:100%;}
    .addons:before{display:block; position:absolute; top:0; left:calc(50% - 50vw); width:100vw; height:100%; background-color:#552882;}
    .addons .addons_list{float:right; padding:10px 0;}
    .addons .addons_item{background-color:transparent;}
    .addons .addons_item:before{opacity:0; visibility:hidden; display:block; position:absolute; top:0; left:-14px; bottom:0; width:1px; height:16px; margin:auto 0; background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAAXNSR0IArs4c6QAAABFJREFUGFdj+P///38GMAECAE+/B/kx4EgnAAAAAElFTkSuQmCC') repeat-y; transition:all 0.25s linear;}
    .addons .addons_item{width:24px;}
    .addons .addons_item.print{display:none;}
    .addons .addons_item .addons_button{width:24px; background-color:transparent;}
    .addons .addons_item .addons_button:before{left:2px; background-image:url('../images/common/m_addons_button.png');}
    .addons .share_panel{right:58px; border-radius:30px;}
    .addons .addons_item.active:before{opacity:1; visibility:visible;}
    .addons .share.active .addons_button:before{background-position:left 0; background-size:cover;}
}
@media all and (max-width:640px){
    .addons .addons_list{padding:0;}
    .addons .addons_item{width:17px; height:45px;}
    .addons .addons_item .addons_button{width:17px;}
    .addons .addons_item .addons_button:before{top:-2px; left:1px; width:17px; height:16px; background-size:cover;}
    .addons .share_panel{top:7px; right:48px; width:207px; height:32px;}
    .addons .share_list{padding-left:16px;}
    .addons .share_item .share_anchor{width:21px; height:32px; margin-right:10px;}
    .addons .share_item:first-child .share_anchor{margin-right:12px;}
    .addons .share_item .share_anchor:before{width:21px; height:22px;}
    .addons .share_close{width:21px; height:32px;}
}

/* 탭메뉴 */


.tab .box{margin-top:40px; margin-bottom:30px; padding:20px 50px; border:1px solid #ddd; font-size:20px; line-height:26px;}


.tab{}
.tab .tab_panel{}
.tab .tab_panel .tab_list{}
.tab .tab_panel .tab_item{display:inline-block; margin:0 20px; vertical-align:top;}
.tab .tab_panel .tab_item .tab_anchor{}

.tab .tab_panel .tab2_list{position:relative; border-bottom:1px solid #dfdcd7; font-size:0; line-height:0; text-align:center;}
.tab .tab_panel .tab2_item{}
.tab .tab_panel .tab2_item:not(:last-child):after{}
.tab .tab_panel .tab2_item .tab2_anchor{}
.tab .tab_panel .tab2_item .tab2_anchor span{display:inline-block; position:relative; padding:20px 5px; color:#333; font-size:18px; line-height:28px; letter-spacing:-0.025em; font-weight:400;}
.tab .tab_panel .tab2_item .tab2_anchor span:after{display:block; position:absolute; opacity:0; left:50%; bottom:-2px; width:0; height:5px; border-radius:10px; background-color:#f09d03; transition:all 0.25s;}
.tab .tab_panel .tab2_item.active .tab2_anchor span,.tab .tab_panel .tab2_item:hover .tab2_anchor span,.tab .tab_panel .tab2_item:focus .tab2_anchor span{color:#222; font-weight:500;}
.tab .tab_panel .tab2_item.active .tab2_anchor span:after,.tab .tab_panel .tab2_item:hover .tab2_anchor span:after,.tab .tab_panel .tab2_item:focus .tab2_anchor span:after{opacity:1; left:0; width:100%;}

.tab .tab_panel .tab3_wrap{display:none; position:absolute; left:0; width:100%; padding-top:16px;}
.tab .tab_panel .tab2_item.active .tab3_wrap{display:block;}
.tab .tab_panel .tab3_list{}
.tab .tab_panel .tab3_item{margin: 0 21px;}
.tab .tab_panel .tab3_item .tab3_anchor{position:relative; padding:10px 0; color:#333; font-size:16px; line-height:28px; letter-spacing:-0.025em; font-weight:400;}
.tab .tab_panel .tab3_item:not(:last-child) .tab3_anchor:after{display:inline-block; position:absolute; top:20px; left:calc(100% + 20px);bottom:auto; width:1px; height:9px; background-color:#bfbfbf;}
.tab .tab_panel .tab3_item.active .tab3_anchor span,.tab .tab_panel .tab3_item:hover .tab3_anchor span,.tab .tab_panel .tab3_item:focus .tab3_anchor span{color:#7a16dd;}
.tab .tab_panel .tab3_item .tab3_anchor span:after{display:block; position:absolute; left:50%; width:0; height:2px; bottom:8px; background-color:#7a16dd; transition:all 0.25s;}
.tab .tab_panel .tab3_item.active .tab3_anchor span:after, .tab .tab_panel .tab3_item:hover .tab3_anchor span:after, .tab .tab_panel .tab3_item:focus .tab3_anchor span:after{left:0; width:100%;}

.tab .tab_panel .tab3_item.active .tab6_wrap {display:block;}
@media all and (max-width:1000px){
    .tab .tab_panel .tab3_item{margin:0 15px;}
    .tab .tab_panel .tab3_item:not(:last-child) .tab3_anchor:after{left:calc(100% + 15px);}
}
@media all and (max-width:800px){
    .tab .tab_panel .tab3_item{width:33.33%; margin:0;}
    .tab .tab_panel .tab3_item:not(:last-child) .tab3_anchor:after{display:none;}
}
@media all and (max-width:640px){
    .tab .tab_panel .tab2_item{margin:0 10px;}
    .tab .tab_panel .tab2_item .tab2_anchor span{padding:15px 5px; font-size:15px; line-height:25px;}
    .tab .tab_panel .tab3_item .tab3_anchor{padding:0;}
    .tab .tab_panel .tab3_item .tab3_anchor span{font-size:14px;padding: 7px 0;}
    .tab .tab_panel .tab3_item .tab3_anchor span:after{bottom:5px;}
}
@media all and (max-width:480px){
    .tab .tab_panel .tab2_item{margin:0 5px;}
}
