@charset "UTF-8"; 

/* wrap */
#wrapper{overflow:hidden; position:relative; width:100%; min-width:1400px}
.wrap{position:relative; width:1400px; margin-right:auto; margin-left:auto}
@media all and (max-width:1400px){
#wrapper{min-width:1300px}
.wrap{width:1300px}
}
@media all and (max-width:1300px){
#wrapper{min-width:1000px}
.wrap{width:1000px}
}
@media all and (max-width:1000px){
#wrapper{min-width:0; padding-top:76px}
.wrap{width:auto; margin-right:0; margin-left:0; padding-right:3%; padding-left:3%}
}
@media all and (max-width:640px){
#wrapper{padding-top:65px}
}

/* 레이아웃 */
#header{height:124px}
@media all and (max-width:1000px){
#header{position:fixed; top:0; left:0; height:75px; box-shadow:0 5px 20px 0 rgba(0, 0, 0, 0.1)}
}
@media all and (max-width:640px){
#header{height:65px}
}

/* 로고 */
#header .logo{position:relative; top:0; left:0; width:100%; height:100%; font-size:0; line-height:0}
#header .logo_anchor{display:block; position:absolute; top:0; left:0; z-index:50; width:258px; padding-top:27px; padding-bottom:28px; border-right:1px solid #d9d9d9}
#header .logo_image{width:101px; height:69px; background-image:url(../images/sprite/logo_sprite.png); background-size:100% 214.49275%; background-position:left 0}
#header .logo_name{display:inline-block; margin-top:28px; margin-left:12px; font-size:22px; line-height:24px; letter-spacing:-0.025em; font-weight:500; vertical-align:top}
@media all and (max-width:1300px){
#header .logo_anchor{width:245px}
#header .logo_name{font-size:20px}
}
@media all and (max-width:1000px){
#header .logo_anchor{display:inline-block; position:relative; z-index:30; padding-top:11px; padding-bottom:14px; padding-right:0; border:none}
#header .logo_image{width:75px; height:51px}
#header .logo_name{margin-top:12px}
}
@media all and (max-width:640px){
#header .logo_anchor{padding-top:11px; padding-bottom:13px}
#header .logo_image{width:60px; height:41px}
#header .logo_name{margin-top:12px; font-size:17px; line-height:19px}
}

/* gnb */
.gnb{position:relative; left:0; z-index:40; padding-left:258px}
.gnb:before{display:block; position:absolute; bottom:0; left:50%; width:100vw; height:100%; background-color:#fff; transform:translateX(-50%)}
@media all and (max-width:1300px){
.gnb{padding-left:245px}
}

/* gnb 사이트 */
.gnb .site{position:relative; width:100%; font-size:0; line-height:0}
.gnb .site:after{display:block; position:absolute; bottom:0; left:0; width:100vw; height:1px; background-color:#d9d9d9}
.gnb .site_list{padding-left:39px}
.gnb .site_item{display:inline-block; margin-left:19px}
.gnb .site_item:first-child{margin-left:0}
.gnb .site_anchor{position:relative; padding-top:12px; padding-bottom:12px; color:#555; font-size:14px; line-height:16px; letter-spacing:-0.025em; font-weight:200; text-decoration:none; transition-property:color; transition-duration:0.25s; transition-timing-function:linear}
.gnb .site_anchor:before{visibility:hidden; opacity:0; display:block; position:absolute; bottom:-1px; left:0; z-index:10; width:100%; height:3px; background-color:#333; transition-property:visibility,opacity; transition-duration:0.25s; transition-timing-function:linear}
.gnb .site_anchor:hover{text-decoration:underline}
.gnb .site_item.active .site_anchor{color:#555; font-weight:600; text-decoration:none}
.gnb .site_item.active .site_anchor:before{visibility:visible; opacity:1}

/* gnb 언어 */
.gnb .language{position:absolute; top:8px; right:0; width:70px; font-family:'Montserrat'; font-size:0; line-height:0}
.gnb .language_show{display:block; position:relative; z-index:60; width:100%; padding-top:4px; padding-bottom:3px; padding-left:13px; border:1px solid transparent; border-radius:5px; text-align:left; color:#202220; font-size:13px; line-height:15px; letter-spacing:-0.025em; font-weight:600; transition-property:background-color,border-color; transition-duration:0.25s; transition-timing-function:linear}
.gnb .language_show:before{display:block; position:absolute; top:0; bottom:0; right:9px; margin-top:auto; margin-bottom:auto; width:10px; height:6px; background-image:url(../images/sprite/language_sprite.png); background-size:100% 633.33333%; background-position:left 50%}
.gnb .language_panel{visibility:hidden; opacity:0; display:block; position:absolute; top:100%; left:0; z-index:50; width:100%; padding-bottom:1px; background-color:#009ee4; border-bottom-left-radius:5px; border-bottom-right-radius:5px; transform:translateY(-10px); transition-property:visibility,opacity,transform; transition-duration:0.25s; transition-timing-function:ease-in-out}
.gnb .language_list{padding-left:9px; padding-right:9px}
.gnb .language_item{border-top:1px dotted #fff}
.gnb .language_item:first-child{border-top:none}
.gnb .language_anchor{padding-top:7px; padding-bottom:7px; padding-left:4px; color:#fff; font-size:13px; line-height:15px; letter-spacing:-0.025em; font-weight:600}
.gnb .language.active{background-color:#009ee4; border-top-left-radius:5px; border-top-right-radius:5px}
.gnb .language.active .language_show{background-color:#fff; border-color:#202220; color:#202220}
.gnb .language.active .language_show:before{width:10px; height:6px; background-size:100% 633.33333%; background-position:left 100%}
.gnb .language.active .language_panel{visibility:visible; opacity:1; transform:none}
@media all and (max-width:1000px){
.gnb{display:none}
}

/* 검색 */
.group .search{display:none}
@media all and (max-width:1000px){
.group .search{display:block; position:absolute; top:0; left:0; width:100%; height:100%; font-size:0; line-height:0}
.group .search_show{display:block; position:absolute; top:0; bottom:0; right:3%; width:30px; height:29px; margin:auto 63px auto 0}
.group .search_show .search_button{border:none; width:30px; height:29px; background-image:url(../images/sprite/search_sprite.png); background-size:100% 406.89655%; background-position:left 59.55056%}
.group .search_hide{display:block; position:absolute; bottom:100%; right:3%; z-index:10; width:30px; height:30px; margin-bottom:22px; margin-right:63px; background:#fff}
.group .search_hide:before{display:block; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; width:25px; height:24px; background-image:url(../images/sprite/search_sprite.png); background-size:120% 491.66667%; background-position:left 0}
.group .search_panel{visibility:hidden; opacity:0; position:absolute; top:100%; left:0; z-index:10; width:100%; padding:50px 3% 46px; background-color:#103876; transition-property:visibility,opacity; transition-duration:0.25s; transition-timing-function:ease-in-out}
.group .search_fieldset{display:block; position:relative; max-width:525px; text-align:center; margin-left:auto; margin-right:auto}
.group .search_query{width:100%; height:58px; padding-left:25px; background-color:transparent; border:2px solid #fff; border-radius:10px; color:#fff; font-size:18px; line-height:20px; letter-spacing:-0.025em; box-shadow:-6px 8px 30px 0 rgba(17, 17, 17, 0.15)}
.group .search_query::-moz-placeholder{color:#fff; font-weight:400}
.group .search_query:-ms-input-placeholder{color:#fff; font-weight:400}
.group .search_query::placeholder{color:#fff; font-weight:400}
.group .search_submit{position:absolute; bottom:-9px; right:-9px; width:53px; height:53px; background-color:#fff; border-radius:50%}
.group .search_submit:before{display:block; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; width:26px; height:26px; background-image:url(../images/sprite/search_sprite.png); background-size:115.38462% 453.84615%; background-position:left 100%}
.group .search_keyword{margin-top:19px; text-align:center}
.group .search_keyword .search_item{display:inline-block; position:relative; margin-left:11px; padding-left:13px}
.group .search_keyword .search_item:before{display:block; position:absolute; top:2px; left:0; width:1px; height:13px; background-color:rgba(255, 255, 255, 0.3)}
.group .search_keyword .search_item:first-child{margin-left:0; padding-left:0}
.group .search_keyword .search_anchor{color:#fff; font-size:15px; line-height:17px; letter-spacing:-0.025em}
.group .search.active .search_panel{visibility:visible; opacity:1}
}
@media all and (max-width:640px){
.group .search_show{width:24px; height:23px; margin-right:45px}
.group .search_show .search_button{width:24px; height:23px}
.group .search_hide{margin-bottom:17px; margin-right:45px}
.group .search_hide:before{width:20px; height:20px}
.group .search_panel{padding-top:40px}
.group .search_fieldset{max-width:100%; margin-right:13px}
.group .search_query{height:46px; padding-left:19px; font-size:15px; line-height:17px}
.group .search_submit{width:42px; height:42px; bottom:-7px; right:-13px}
.group .search_submit:before{width:20px; height:20px}
.group .search_keyword{display:none}
}

/* 주메뉴 */
@media all and (min-width:1001px){
.lnb{position:relative; width:100%; height:84px}
.lnb .wrap{height:100%}
.lnb .menu{overflow:hidden; position:absolute; top:0; left:0; z-index:20; width:100%; height:100%; background-color:#fff; transition-property:height}
.lnb:before{display:block; visibility:hidden; opacity:0; position:fixed; top:0; left:0; z-index:10; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.4); transition-property:visibility,opacity; transition-duration:0.25s; transition-timing-function:linear}
.lnb_open .lnb:before{visibility:visible; opacity:1}
.lnb .menu .depth2,.lnb .menu.after:after{height:calc(100% - 84px)}
.lnb_open .lnb .menu.after:after{visibility:visible; opacity:1}
.lnb .menu_header{display:none}
.lnb .menu_title{display:none}
.lnb .menu .depth1_list{width:100%; padding-left:258px; padding-right:176px; text-align:center}
.lnb .menu .depth1_item{width:auto!important; margin-left:31px; margin-right:31px; padding-top:31px; padding-bottom:32px}
.lnb .menu .depth1_text{display:inline-block; position:relative; text-align:center; color:#111; font-size:19px; line-height:21px; letter-spacing:-0.025em; font-weight:500; text-decoration:none; transition-property:color}
.lnb .menu .depth1_text:before{visibility:hidden; opacity:0; display:inline-block; position:absolute; bottom:-6px; left:50%; width:0; height:2px; background-color:#29e079; transform:translateX(-50%); transition-property:visibility,opacity,width}
.lnb .menu .depth1_text[target='_blank']:after{display:inline-block; width:15px; height:15px; margin-top:2.5px; margin-left:5px; vertical-align:top; background-color:#000}
.lnb_open .lnb .menu .depth1_item.active .depth1_text{color:#29e079; text-decoration:none}
.lnb_open .lnb .menu .depth1_item.active .depth1_text:before{visibility:visible; opacity:1; width:100%}
.lnb .menu .depth2{overflow:visible; box-sizing:border-box; transition-property:visibility,opacity}
.lnb .menu .depth2_content{position:relative; min-height:450px; padding-left:300px}

/* 메뉴 고정 높이 */
.lnb .menu .depth2_title{position:absolute; top:1px; left:0; width:200px; height:100%}
.lnb .menu .depth2_info{width:inherit; height:inherit; padding-top:100px; text-align:left; color:#000; font-weight:300}
.lnb .menu .depth2_info:before{display:block; position:absolute; top:270px; left:0; width:119px; height:132px; background-image:url(../images/sprite/lnb_sprite.png); background-size:100% 1048.48485%; background-position:left 54.63259%}
.lnb .menu .depth2_subject{display:block; position:relative; z-index:10; padding-bottom:17px; padding-right:30px; color:#15438a; font-size:32px; line-height:34px; letter-spacing:-0.025em; font-weight:500; word-break:keep-all}
.lnb .menu .depth2_subject:before{display:block; position:absolute; bottom:0; left:2px; width:30px; height:3px; background-color:#15438a}
.lnb .menu .depth2_slogan{display:block; margin-top:30px; color:#66696c; font-size:16px; line-height:22px; letter-spacing:-0.025em}
.lnb .menu .depth1_item.active .depth2{visibility:visible; opacity:1; z-index:10}
.lnb .menu .depth2_list{padding-top:12px; padding-bottom:30px; text-align:left; background-color:#fff}
.lnb .menu .depth2_list:before{display:block; position:absolute; top:0; right:100%; width:100vw; height:2000px; background:url(../images/common/gnb_deco1.png) top right 94px no-repeat #ecf1f7}
.lnb .menu .depth2_list:after{display:block; position:absolute; top:0; left:100%; width:100vw; height:100%; background-color:#fff}
.lnb .menu .depth2_item{position:relative; display:inline-block; width:20%; padding-top:20px; padding-left:30px}
.lnb .menu .depth2_text{display:block; position:relative; height:46px; padding-left:19px; padding-right:40px; border:1px solid #d3d3d3; color:#333; font-size:16px; line-height:18px; letter-spacing:-0.025em; text-decoration:none; word-break:break-all; transition-property:color,background-color,border-color}
.lnb .menu .depth2_text:before{display:block; position:absolute; top:0; bottom:0; right:29px; margin-top:auto; margin-bottom:auto; background-image:url(../images/sprite/lnb_sprite.png); transition:none}
.lnb .menu .depth2_text:after{display:inline-block; height:100%; vertical-align:middle; content:''}
.lnb .menu .depth2_text span{display:inline-block; vertical-align:middle}
.lnb .menu .depth2_text[target='_blank']:before{right:20px; width:12px; height:12px; background-size:991.66667% 11533.33333%; background-position:left 2.33236%}
.lnb .menu .depth2_item.has .depth2_text:before{right:25px; width:10px; height:6px; background-size:1190% 23066.66667%; background-position:left 0}
.lnb .menu .depth2_text:hover{color:#1d98dd; background-color:#fff; border-color:#1d98dd; box-shadow:0 7px 10px 0 rgba(29, 152, 221, 0.15)}
.lnb .menu .depth2_item.has .depth2_text:hover:before{width:10px; height:6px; background-size:1190% 23066.66667%; background-position:left 1.1611%}
.lnb .menu .depth1_item.active .depth3{visibility:visible; opacity:1; z-index:10}
.lnb .menu .depth3_list{padding-top:17px; padding-left:20px; padding-right:10px}
.lnb .menu .depth3_item:first-child{margin-top:0}
.lnb .menu .depth3_text{display:inline-block; position:relative; z-index:20; padding-left:13px; color:#555; font-size:15px; line-height:21px; letter-spacing:-0.03em; word-break:keep-all}
.lnb .menu .depth3_text:before{display:block; position:absolute; top:9px; left:0; width:4px; height:4px; background-color:#0f3977; border-radius:50%}
.lnb .menu .depth3_text:hover{color:#0f3977; text-decoration:underline}
.lnb .menu .depth3_text span{display:inline; position:relative; word-break:keep-all}
.lnb .menu .depth3_text[target='_blank'] span:after{display:block; position:absolute; bottom:5px; left:100%; margin-left:5px; width:10px; height:10px; background-image:url(../images/sprite/lnb_sprite.png); background-size:1190% 13840%; background-position:left 3.93013%; transition:none}
.lnb .menu .depth4{display:none}
}
@media all and (max-width:1720px) and (min-width:1001px){
.lnb .menu .depth2_content{padding-left:230px}
.lnb .menu .depth2_title{width:210px; left:20px; background:0 0}
}
@media all and (max-width:1450px) and (min-width:1001px){
.lnb .menu .depth2_item{width:25%; padding-left:10px}
.lnb .menu .depth3_list{padding-top:10px; padding-left:10px}
}
@media all and (max-width:1300px) and (min-width:1001px){
.lnb .menu .depth1_item{margin-left:15px; margin-right:15px}
.lnb .menu .depth2_subject{font-size:25px; line-height:27px}
.lnb .menu .depth2_slogan{font-size:14px; line-height:20px}
.lnb .menu .depth2_text{padding-right:30px; font-size:14px; line-height:16px}
.lnb .menu .depth2_item.has .depth2_text:before{right:15px}
}
@media all and (max-width:1100px) and (min-width:1001px){
.lnb .menu .depth1_item{margin-left:10px; margin-right:10px}
.lnb .menu .depth1_text{font-size:17px; line-height:19px}
.lnb .menu .depth3_text{padding-left:10px; font-size:13px; word-break:keep-all}
}
@media all and (max-width:1000px){
.lnb .menu{visibility:hidden; overflow-x:hidden; overflow-y:auto; position:fixed; right:-100%; z-index:40; width:100%; max-width:580px; height:100%; padding-top:121px; background-color:#fff; transition-property:visibility,right; transition-duration:0.25s; transition-timing-function:linear}
.lnb .wrap{height:inherit; padding-left:10px}
.lnb .menu_show{position:absolute; top:0; bottom:0; width:30px; height:22px; right:3%; z-index:30; margin-top:auto; margin-bottom:auto; margin-right:9px}
.lnb .menu_show .menu_btn{position:relative; width:inherit; height:inherit}
.lnb .menu_show .menu_btn:before{display:block; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; width:30px; height:22px; background-image:url(../images/sprite/lnb_mobile_sprite.png); background-size:100% 1086.36364%; background-position:left 86.63594%}
.lnb .menu_hide{position:absolute; top:24px; right:33px; width:25px; height:24px}
.lnb .menu_hide .menu_btn{display:block; position:relative; width:inherit; height:inherit}
.lnb .menu_hide .menu_btn:before{display:block; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; width:25px; height:24px; background-image:url(../images/sprite/lnb_mobile_sprite.png); background-size:120% 995.83333%; background-position:left 71.62791%}
.lnb .menu_header{display:block; position:absolute; top:0; left:0; width:100%; font-size:0; line-height:0}
.lnb .search{background-color:#103876; padding-top:19px; padding-bottom:19px}
.lnb .search_fieldset{position:relative; margin-left:29px; margin-right:83px}
.lnb .search_query{width:100%; height:36px; padding-left:15px; padding-right:40px; background-color:#fff; border-radius:5px; color:#103876; font-size:14px; line-height:16px; letter-spacing:-0.025em}
.lnb .search_query::-moz-placeholder{color:#103876}
.lnb .search_query:-ms-input-placeholder{color:#103876}
.lnb .search_query::placeholder{color:#103876}
.lnb .search_submit{display:block; position:absolute; top:0; bottom:0; right:12px; margin-top:auto; margin-bottom:auto; width:19px; height:19px; background-image:url(../images/sprite/lnb_mobile_sprite.png); background-size:157.89474% 1257.89474%; background-position:left 100%}
.lnb .link{font-size:0; line-height:0; background-color:#103876}
.lnb .link_item{display:inline-block; position:relative; width:calc(100% / 3); text-align:center; vertical-align:top; border-top:1px solid #406091; border-right:1px solid #406091}
.lnb .link_item:last-child{border-right:none}
.lnb .link_item:last-child:before{width:100%}
.lnb .link_button{display:block; position:relative; width:100%; padding-right:2px; padding-top:14px; padding-bottom:15px; border:none; color:#fff; font-size:15px; line-height:17px; letter-spacing:-0.025em; font-weight:200}
.lnb button.link_button:after{display:inline-block; margin-top:5px; margin-left:11px; width:11px; height:7px; background-image:url(../images/sprite/lnb_mobile_sprite.png); background-size:272.72727% 3414.28571%; background-position:left 0; vertical-align:top}
.lnb .link_panel{display:none; position:absolute; top:100%; left:-1px; z-index:20; width:calc(100% + 2px); margin-top:-1px; background-color:#091f44; border:1px solid #406091; border-bottom:none}
.lnb .link_li{width:100%; border-bottom:1px solid #406091}
.lnb .link_anchor{padding-top:14px; padding-bottom:14px; color:#fff; font-size:15px; line-height:17px; letter-spacing:-0.025em; font-weight:200}
.lnb .link_item.active .link_panel{display:block}
.lnb .link_item.active .link_button{background-color:#091f44}
.lnb .link_item.active button.link_button:after{width:11px; height:7px; background-size:272.72727% 3414.28571%; background-position:left 7.32759%}
.lnb .menu .depth1{height:inherit; z-index:10}
.lnb .menu .depth1_list{position:relative; min-height:100%; padding-top:18px}
.lnb .menu .depth1_text{display:block; position:relative; padding-top:15px; padding-bottom:15px; padding-left:13px; color:#121212; font-size:16px; line-height:18px; letter-spacing:-0.025em; font-weight:500; text-decoration:none; transition-property:font-weight}
.lnb .menu .depth1_text:before{visibility:hidden; opacity:0; display:block; position:absolute; top:0; bottom:0; left:0; z-index:30; width:120px; height:40px; margin-top:auto; margin-bottom:auto; background-color:#1fa776; border-radius:5px; transition-property:visibility,opacity}
.lnb .menu .depth1_text:after{display:block; position:absolute; top:0; bottom:0; right:0; margin-top:auto; margin-bottom:auto}
.lnb .menu .depth1_text[target='_blank']:after{z-index:40; width:15px; height:15px; background-color:#000; transition:none}
.lnb .menu .depth1_item.has .depth1_text:after{z-index:40; width:16px; height:16px; transition:none}
.lnb .menu .depth1_text span{position:relative; z-index:40}
.lnb .menu .depth1_item.active .depth1_text{color:#fff; font-weight:500}
.lnb .menu .depth1_item.active .depth1_text:before{visibility:visible; opacity:1}
.lnb .menu .depth1_item.has.active .depth1_text:after{width:16px; height:16px; background-image:url(../images/sprite/lnb_mobile_sprite.png); background-size:187.5% 1493.75%; background-position:left 15.24664%}
.lnb .menu .depth2{transition-property:visibility,opacity}
.lnb .menu .depth2_content{position:relative; min-height:350px; padding-top:18px; padding-right:22px}
.lnb .menu .depth2_content:before{display:block; position:absolute; top:0; left:0; width:1px; height:100vh; min-height:100vh; background-color:#dfdfdf}
.lnb .menu .depth2_list{transition-property:padding-top,padding-bottom,border-top-width; border:0 solid #000}
.lnb .menu .depth2_item{border-bottom:1px solid #d2d2d2; transition-property:border-bottom-color}
.lnb .menu .depth2_text{display:block; position:relative; padding-top:11px; padding-bottom:11px; padding-right:40px; color:#151515; font-size:17px; line-height:23px; letter-spacing:-0.025em; font-weight:500; text-decoration:none; box-sizing:border-box; transition-property:color}
.lnb .menu .depth2_text:after{display:block; visibility:hidden; opacity:0; position:absolute; top:0; bottom:0; right:10px; margin-top:auto; margin-bottom:auto; transition:none}
.lnb .menu .depth2_text[target='_blank']:after{width:0; height:0; background-color:#000}
.lnb .menu .depth2_item.has .depth2_text:after{width:11px; height:11px; background-image:url(../images/sprite/lnb_mobile_sprite.png); background-size:272.72727% 2172.72727%; background-position:left 26.31579%}
.lnb_show .lnb .menu .depth1_item.active .depth2{visibility:visible; opacity:1}
.lnb .menu .depth1_item.active .depth2{right:0; z-index:20}
.lnb .menu .depth1_item.active .depth2_list{padding-top:4px; padding-bottom:26px}
.lnb .menu .depth1_item.active .depth2_item.active .depth2_text{color:#1fa776}
.lnb .menu .depth1_item.active .depth2_text:after{visibility:visible; opacity:1}
.lnb .menu .depth1_item.active .depth2_text[target='_blank']:after{width:12px; height:12px}
.lnb .menu .depth1_item.has .depth2_item.has.active .depth2_text:after{width:11px; height:11px; background-size:272.72727% 2172.72727%; background-position:left 35.52632%}
.lnb .menu .depth3{transition-property:visibility,opacity,padding-top,padding-bottom}
.lnb .menu .depth3_list{transition-property:padding-top,padding-bottom; border:0 solid #d2d2d2}
.lnb .menu .depth3_text{display:block; position:relative; padding-left:12px; padding-right:25px; color:#000; letter-spacing:-0.03em; text-decoration:none; transition-property:color,font-weight}
.lnb .menu .depth3_text:before{visibility:hidden; opacity:0; display:block; position:absolute; top:8px; left:0; background-color:#0f3977; border-radius:50%}
.lnb .menu .depth3_text:after{display:block; visibility:hidden; opacity:0; position:absolute; top:0; bottom:0; right:0; margin-top:auto; margin-bottom:auto; transition:none}
.lnb .menu .depth3_text[target='_blank']:after{top:0; right:0; width:0; height:0; background-color:#000}
.lnb .menu .depth3_item.has .depth3_text:after{right:10px; width:10px; height:6px; background-image:url(../images/sprite/lnb_mobile_sprite.png); background-size:300% 3983.33333%; background-position:left 43.77682%}
.lnb_show .lnb .menu .depth1_item.active .depth2_item.active .depth3{visibility:visible; opacity:1}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_list{padding-top:14px; padding-bottom:11px; border-top-width:1px}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item{margin-top:6px}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item:first-child{margin-top:0}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item:before{top:10px; width:3px; height:3px}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_text{color:#000; font-size:15px; line-height:20px; letter-spacing:-0.03em}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_text:before{visibility:visible; opacity:1; width:4px; height:4px}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_text:after{visibility:visible; opacity:1}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_text[target='_blank']:after{top:4px; width:12px; height:12px}
.lnb .menu .depth1_item.has .depth2_item.has .depth3_item.has.active .depth3_text:after{width:10px; height:6px; background-size:300% 3983.33333%; background-position:left 50.64378%}
.lnb .menu .depth4{transition-property:visibility,opacity}
.lnb .menu .depth4_list{padding-left:12px; padding-right:12px; background-color:#f7f7f7; border-radius:5px; transition-property:padding-top}
.lnb .menu .depth4_item{padding-left:13px}
.lnb .menu .depth4_item:before{display:block; position:absolute; top:0; left:0; width:0; height:0; background-color:#666; transition:none}
.lnb .menu .depth4_text{display:block; color:#666; transition:none}
.lnb .menu .depth4_text:after{display:block; visibility:hidden; opacity:0; position:absolute; top:0; bottom:0; right:0; margin-top:auto; margin-bottom:auto; transition:none}
.lnb .menu .depth4_text[target='_blank']:after{top:0; right:0; width:0; height:0; background-color:#000}
.lnb_show .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4{visibility:visible; opacity:1; padding-bottom:4px}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_list{margin-top:11px; padding-top:15px; padding-bottom:16px}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_item{margin-top:7px}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_item:first-child{margin-top:0}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_item:before{top:10px; width:6px; height:1px}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_text{font-size:14px; line-height:20px; letter-spacing:-0.025em; font-weight:200}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_text:after{visibility:visible; opacity:1}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_text[target='_blank']:after{width:10px; height:10px}
.lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_item.active .depth4_text{font-weight:500}
.lnb .menu .depth5{display:none}
.lnb_show .lnb .menu.multiple .depth1_list{padding-right:calc(100% - 109px)}
.lnb .menu.multiple .depth1_item{position:static}
.lnb .menu.multiple .depth2{overflow-x:hidden; overflow-y:auto; position:absolute; top:0; right:0; width:calc(100% - 109px); height:100%}
.lnb .menu.multiple .depth2_list{margin-left:25px}
}
@media all and (max-width:640px){
.lnb .menu{width:100%; max-width:360px}
.lnb .menu_show{margin-right:0}
.lnb .menu_show .menu_btn:before{width:24px; height:17px}
.lnb .menu .depth2_text{font-size:16px}
}

/* 상단 링크 */
#header .shortcut{position:absolute; bottom:0; left:0; width:100%; font-size:0; line-height:0}
#header .shortcut_list{position:absolute; bottom:21px; right:0}
#header .shortcut_item{display:inline-block; margin-left:24px}
#header .shortcut_item:first-child{margin-left:0}
#header .shortcut_anchor{position:relative; z-index:30; padding-top:27px; color:#202220; font-size:13px; line-height:15px; letter-spacing:-0.025em; font-weight:200; text-decoration:none}
#header .shortcut_anchor:before{display:block; position:absolute; top:0; left:0; right:0; margin-left:auto; margin-right:auto; background-image:url(../images/sprite/shortcut_sprite.png)}
#header .shortcut_anchor:hover{text-decoration:underline}
#header .shortcut_item:nth-child(1) .shortcut_anchor:before{width:19px; height:21px; background-size:100% 771.42857%; background-position:left 36.87943%}
#header .shortcut_item:nth-child(2) .shortcut_anchor:before{top:1px; width:19px; height:19px; background-size:100% 852.63158%; background-position:left 79.72028%}
#header .shortcut_item:nth-child(3) .shortcut_anchor:before{top:2px; width:19px; height:16px; background-size:100% 1012.5%; background-position:left 0}
@media all and (max-width:1300px){
#header .shortcut_item{margin-left:15px}
}
@media all and (max-width:1000px){
#header .shortcut{display:none}
}

/* 메뉴 lnb_open 일때 */
@media all and (min-width:1001px){
.lnb_open #header .logo_anchor{border:none}
.lnb_open #header .logo_image{width:101px; height:69px; background-size:100% 214.49275%; background-position:left 100%}
.lnb_open #header .logo_name{color:#fff}
.lnb_open .gnb:before{background-color:#103876}
.lnb_open .gnb:after{display:none}
.lnb_open .gnb .site:before{display:block; position:absolute; top:0; left:0; width:100vw; height:100%; background-color:#092045}
.lnb_open .gnb .site:after{display:none}
.lnb_open .gnb .site_item .site_anchor{color:#fff}
.lnb_open .gnb .site_item.active .site_anchor{color:#fff}
.lnb_open .gnb .site_item.active .site_anchor:before{background-color:#fff}
.lnb_open .gnb .weather_celsius{color:#fff}
.lnb_open .gnb .weather_title{color:#fff}
.lnb_open .gnb .weather_index{color:#fff}
.lnb_open .gnb .language_show{color:#fff}
.lnb_open .gnb .language_show:before{width:10px; height:6px; background-size:100% 633.33333%; background-position:left 0}
.lnb_open .lnb .menu:before{display:block; position:absolute; top:0; left:0; width:100%; height:84px; background-color:#103876}
.lnb_open .lnb .menu .depth1_text{color:#fff}
.lnb_open #header .shortcut_anchor{color:#fff}
.lnb_open #header .shortcut_item:nth-child(1) .shortcut_anchor:before{width:19px; height:21px; background-size:100% 771.42857%; background-position:left 58.86525%}
.lnb_open #header .shortcut_item:nth-child(2) .shortcut_anchor:before{width:19px; height:19px; background-size:100% 852.63158%; background-position:left 100%}
.lnb_open #header .shortcut_item:nth-child(3) .shortcut_anchor:before{width:19px; height:16px; background-size:100% 1012.5%; background-position:left 17.80822%}
}

/* 하단 */
#footer{background-color:#edeff4; font-size:0; line-height:0}
#footer .wrap{padding-top:40px}
@media all and (max-width:1000px){
#footer .wrap{padding-bottom:30px}
}

/* 하단 배너 */
#footer .banner{position:relative; border-width:0}
#footer .banner:before{display:block; position:absolute; top:0; left:50%; width:100vw; border-top:1px solid #ccc; transform:translateX(-50%)}
#footer .banner_list{padding-left:140px}
#footer .banner_item{margin-left:30px; padding-top:20px; padding-bottom:20px}
#footer .banner_anchor{color:#000; font-size:15px; line-height:17px; letter-spacing:-0.03em}
#footer .banner_anchor:hover{text-decoration:underline}
#footer .banner_control{position:absolute; top:0; bottom:0; left:20px; height:20px; margin-top:auto; margin-bottom:auto; font-size:0; line-height:0}
#footer .banner_control .slick-arrow{display:inline-block; width:20px; height:20px; margin-left:5px; background-color:#000}
#footer .banner_control .banner_prev{margin-left:0}
#footer .banner_control .slick-pause{background-color:#666}
#footer .banner_more{display:inline-block; width:20px; height:20px; margin-left:5px; background-color:#000; vertical-align:top}

/* 하단 정보 */
#footer .footer_content{position:relative}
#footer .logo{display:inline-block; vertical-align:top}
#footer .info{display:inline-block; margin-left:50px; vertical-align:middle}
#footer .info address{font-family:'Montserrat'; color:rgba(1, 21, 51, 0.6); font-size:0; line-height:0; vertical-align:middle}
#footer .info address span a{color:rgba(1, 21, 51, 0.6)}
#footer .info_address{font-size:15px; line-height:24px; letter-spacing:-0.025em; font-weight:600}
#footer .info_mainphone{margin-left:35px; font-size:15px; line-height:24px; letter-spacing:-0.025em; font-weight:600}
#footer .info_mainphone span{margin-right:12px}
#footer .info_copyright{margin-top:18px; color:rgba(1, 21, 51, 0.3); font-size:13px; line-height:15px}
@media all and (max-width:1000px){
#footer .footer_content{text-align:center}
#footer .logo{padding-top:2px}
#footer .logo_anchor img{width:105px}
#footer .info{margin-left:36px; text-align:left}
#footer .info_mainphone{display:block; margin-left:0}
#footer .info_copyright{margin-top:13px}
}
@media all and (max-width:640px){
#footer .footer_content{text-align:left}
#footer .logo{display:block}
#footer .logo_anchor img{width:92px}
#footer .info{margin-top:18px; margin-left:0}
#footer .info address{font-size:14px}
#footer .info_mainphone{display:block}
#footer .info_divide{display:none}
#footer .info_fax{display:inline-block}
}

/* 하단 바로가기 */
#footer .link{position:relative; margin-top:32px; padding-bottom:70px; font-size:0; line-height:0}
#footer .link:before{display:block; position:absolute; top:0; left:50%; width:100vw; border-bottom:1px solid #d5d9e0; transform:translateX(-50%)}
#footer .link_list{padding-top:32px}
#footer .link_item{display:inline-block; position:relative; margin-left:28px; padding-left:27px}
#footer .link_item:before{display:block; position:absolute; top:0; bottom:0; left:0; width:1px; height:10px; margin-top:auto; margin-bottom:auto; background-color:#ccc}
#footer .link_item:first-child{margin-left:0; padding-left:0}
#footer .link_item:first-child:before{display:none}
#footer .link_anchor{color:#697588; font-size:15px; line-height:21px; letter-spacing:-0.03em}
#footer .link_anchor:hover{text-decoration:underline}
#footer .link_item:first-child .link_anchor{color:#0548ab}
@media all and (max-width:1000px){
#footer .link{text-align:center}
#footer .link_list{padding-top:23px}
#footer .link_item{margin-left:19px; padding-left:18px}
}
@media all and (max-width:640px){
#footer .link{padding-bottom:30px}
#footer .link_item{margin-left:15px; padding-left:15px}
#footer .link_anchor{font-size:14px; line-height:30px}
#footer .info_copyright{margin-top:11px; font-size:12px; line-height:18px; word-break:keep-all}
}

/* 하단 마크 */
#footer .mark{position:absolute; bottom:31px; right:0; font-size:0; line-height:0}
#footer .mark_item{display:inline-block}
#footer .mark_item+.mark_item{margin-left:16px}
#footer .mark_anchor{display:block; background-color:#ccc}
#footer .mark_item.wa .mark_anchor{width:115px; height:82px; background:url(../images/common/mark_wa.gif) no-repeat}
@media all and (max-width:1000px){
#footer .mark{position:static; text-align:center}
#footer .mark_item.wa{display:none}
}
@media all and (max-width:640px){
#footer .mark{position:absolute; top:100px; right:3%; z-index:10}
#footer .mark_item{margin-left:0}
}

/* 하단 상단으로 */
#footer .up{position:absolute; bottom:100%; right:0; margin-left:25px; transform:translateY(50%)}
#footer .up_button{display:block; position:relative; width:65px; height:65px; background-color:#0b89f4; border-radius:50%; box-shadow:8px 13px 20px 0 rgba(0, 0, 0, 0.12); transition-property:transform; transition-duration:0.25s; transition-timing-function:ease-in-out}
#footer .up_button:before{display:block; position:absolute; top:0; bottom:0; left:0; right:0; width:16px; height:27px; margin:auto; background:url(../images/common/icon_top.png) 0 0/100% auto no-repeat}
#footer .up_button:hover{transform:translateY(-5px)}
@media all and (max-width:1630px){
#footer .up{left:auto; right:0}
}
@media all and (max-width:1000px){
#footer .up{right:3%}
#footer .up_button{width:53px; height:53px}
#footer .up_button:before{width:12px; height:22px}
}
@media all and (max-width:640px){
#footer .up_button{width:41px; height:41px}
#footer .up_button:before{width:11px; height:17px}
}