@charset "utf-8";
.header_box .wrap .logo a .logo_image{background-image:url(../images/common/logo.png);background-repeat:no-repeat;background-position:left top;}
.weatherbox{display:none;}

@media all and (min-width:1401px){
    #lnb .nav .depth1 .depth1_list{width:674px; padding-right:25px;}
    #lnb .nav .depth1 .depth1_list .depth1_item{width:20%;}
}
@media all and (min-width:1001px) and (max-width:1400px){
    .header_box .wrap .logo a .logo_text{display:none;}
    #lnb .nav .depth1 .depth1_list{width:800px;}
    #lnb .nav .depth1 .depth1_list{ padding-right:15px;text-align:right;}
    #lnb .nav .depth1 .depth1_list .depth1_item{width:auto;}
}
@media all and (min-width:1001px){
    /*.header_box .wrap .logo a .logo_image{width:136px;}*/
}
@media all and (max-width:1000px){
    .header_box .menuopenbox{right:3%;}
}

@media all and (max-width:640px){
    .header_box .wrap .logo a .logo_image{height:44px;}
}


/* 담당자요청 실섭기준 상단 변경 */
.header_top .gnb ul{float:left;}
.header_top .gnb ul{display:block;width:auto;box-sizing:border-box;}
.header_top .gnb ul li{display:block;float:left;position:relative;box-sizing:border-box;line-height:20px;}
.header_top .gnb ul li a{display:block;position:relative;padding:15px 18px 14px 18px;font-size:15px;color:#646770;line-height:20px;letter-spacing:0;}
.header_top .gnb ul li a:before{display:block;position:absolute;top:19px;right:0;width:1px;height:13px;background-color:#d9dfe7;content:'';}
.header_top .gnb ul li a:after{display:block;position:absolute;top:0;left:0;width:1px;background-color:transparent;content:'';}
.header_top .gnb ul li a:hover{background-color:#fafbfd;text-decoration:none;}
.header_top .gnb ul li:last-child a:before{display:none;}
.header_top .gnb ul li a:hover:before{top:0;height:100%;}
.header_top .gnb ul li:last-child a:hover:before{display:block;}
.header_top .gnb ul li a:hover:after{left:-1px;height:100%;background-color:#d9dfe7;}
#lnb .lnb_topbox .lnb_gnb ul li.login{margin-right:0;}
#lnb .lnb_topbox .lnb_gnb ul li.search{display:none;}
.footer_box .family_box{display:none;}


/* 배너 */
.footer_box{padding-top:0; border-top-color:#e6e8eb;}
.banner{border-bottom:1px solid rgba(207, 210, 216, 0.35); background-color:#fff;}
.banner .wrap{position:relative; padding-top:23px; padding-left:130px; padding-bottom:20px;}
.banner .wrap .banner_control{position:absolute; left:0; font-size:0;}
.banner .wrap .banner_control button{position:relative; width:20px; height:20px; margin-right:4px; font-size:0; color:transparent; line-height:0; }
.banner .wrap .banner_control button:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; background:url('/site/jongja/images/common/banner_sprite.png') no-repeat;}
.banner .wrap .banner_control .banner_prev:before{width:10px; height:14px;}
.banner .wrap .banner_control .banner_next:before{width:10px; height:14px; transform:rotate(180deg);}
.banner .wrap .banner_control .banner_auto:before{width:7px; height:12px; background-position:left 36.92%;}
.banner .wrap .banner_control .banner_auto.slick-play:before{width:9px; height:11px; background-position:left 69.69%}
.banner .wrap .banner_control .banner_more{position:relative; width:20px; height:20px; margin-left:6px; font-size:0; line-height:0; vertical-align:middle;}
.banner .wrap .banner_control .banner_more:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; width:12px; height:10px; margin:auto; background:url('/site/jongja/images/common/banner_sprite.png') no-repeat left 100%;}
.banner .wrap .banner_wrap .banner_anchor{margin-right:45px; font-size:15px; color:#4e535d; line-height:18px; letter-spacing:-0.01em;}
@media all and (max-width:1000px){
    .banner{display:none;}
}

/*footer_banner*/
.footer_box .wrap{padding-right:0;}
.footer_banner{position:relative; width:100%; padding:30px 0 25px; border:none;}
.footer_banner .contents_box{float:left; position:relative; width:24%; margin:0 0 0 1%;}
.footer_banner .contents_box:first-child{margin:0;}
.footer_banner .tit{position:relative; width:100%; padding:14px 35px 14px 16px; border:1px solid #c3c8d1; background-color:#fff; font-size:15px; color:#444; line-height:17px; letter-spacing:-0.035em; text-align:left;}
.footer_banner .tit:before{display:block; position:absolute; top:50%; right:20px; width:10px; height:7px; background:url('../images/common/foot_link_arrow.png') no-repeat left top; transition:transform 250ms ease-in-out; transform:translateY(-50%);}
.footer_banner .tit.on{border-top:1px solid #444444; border-right:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; color:#222;}
.footer_banner .tit.on:before{transform:rotateX(180deg); }
.footer_banner .cont_box{display:none; position:absolute; bottom:100%; left:0; z-index:10; width:100%; padding:10px 13px 8px; border:1px solid #333333; border-bottom:none; box-sizing:border-box; background-color:#fff; transition:transform 250ms ease-in-out;}
.footer_banner .cont_box ul{ display:inline-block; width:100%;vertical-align:top; }
.footer_banner .cont_box ul li{float:left; width:100%; border-bottom:1px solid rgba(255, 255, 255, 0.3); }
.footer_banner .cont_box ul li:first-child{background:none}
.footer_banner .cont_box ul li a{display:inline-block; position:relative; width:100%; padding:5px 0 5px; font-size:15px; font-weight:normal; color:#444444; line-height:18px; letter-spacing:-0.035em; text-decoration:none; word-break:keep-all;}
.footer_banner .cont_box ul li a:hover span{ position:relative;color:#222222;}
.footer_banner .cont_box ul li a:hover span:after{display:block; position:absolute; bottom:-2px; left:0; width:100%; height:1px; border-bottom:1px dotted #222222;}
.footer_banner .cont_box ul li:first-child a[target='_blank']:before{display:none}
@media all and (max-width:1000px){
    .top_go{bottom:105px;}
    .footer_box{padding-top:34px;}
    .footer_box .wrap{padding-bottom:62px;}
    .footer_banner{position:absolute; bottom:0; padding:0;}
}
@media all and (max-width:640px){
    .top_go{bottom:240px;}
    .footer_box{padding-bottom:45px;}
    .footer_box .wrap{padding-bottom:190px;}
    .footer_banner .tit{padding-top:10px; padding-bottom:10px; font-size:14px;}
    .footer_banner .cont_box ul li a{font-size:14px;}
    .footer_banner .contents_box{ float:initial; width:100%; }
    .footer_banner .contents_box:nth-child(n){margin:0 0 5px 0;}
    .footer_banner .contents_box:last-child{margin:0;}
}

.footer_box .footer_nav{margin-top:40px;}
.footer_box .footer_nav ul{padding-top:5px;}
.footer_box .footer_site{position:absolute; top:0; right:0;}
.footer_box .footer_site .site_item .site_list{visibility:hidden; opacity:0; overflow-x:hidden; overflow-y:auto; position:absolute; bottom:100%; left:0; width:200px; max-height:158px; padding:10px 14px; border-left:1px solid #333; border-top:1px solid #333; border-right:1px solid #333; background-color:#fff; transition-property:opacity,visibility; transition-duration:0.2s; transition-timing-function:linear;}
.footer_box .footer_site .site_item .site_show{display:block; position:relative; width:200px; padding:11px 0 12px 14px; border:1px solid #c3c8d1; background-color:#fff; font-size:15px; line-height:20px; text-align:left;}
.footer_box .footer_site .site_item .site_show:after{display:inline-block; position:absolute; top:20px; right:12px; width:10px; height:7px; background:url('/site/jongja/images/common/foot_link_arrow.png') no-repeat;}
.footer_box .footer_site .site_item .site_list .site_anchor{font-size:15px; line-height:28px; color:#444; text-decoration:none;}
.footer_box .footer_site .site_item .site_list .site_anchor span{position:relative; display:inline;}
.footer_box .footer_site .site_item .site_list .site_anchor:hover span:after{display:block; position:absolute; bottom:0; left:0; width:100%; height:1px; background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAAXNSR0IArs4c6QAAABFJREFUGFdjrKqq+t/W1sYIABPGBAJFFXdiAAAAAElFTkSuQmCC') repeat-x;}
.footer_box .footer_site .site_item.active .site_show{border:1px solid #333; color:#222;}
.footer_box .footer_site .site_item.active .site_show:after{transform:rotate(180deg);}
.footer_box .footer_site .site_item.active .site_list{visibility:visible; opacity:1;}
.footer_box .footer_site .site_item .site_list .site_anchor:hover{color:#222;}
@media all and (max-width:1400px){
    .footer_box .footer_site{top:-10px;}
}
@media all and (max-width:1000px){
    .footer_box .wrap{padding-bottom:28px;}
    .footer_box .footer_nav{margin-top:0;}
    .footer_box .footer_nav ul{padding-top:0;}
    .footer_box .footer_site{position:relative; top:0; margin-top:13px;}
}
@media all and (max-width:640px){
    .footer_box .footer_site{margin-top:16px;}
    .footer_box .footer_site .site_item .site_show{width:180px; padding-top:9px; padding-bottom:9px; font-size:14px;}
    .footer_box .footer_site .site_item .site_show::after{top:16px;}
    .footer_box .footer_site .site_item .site_list{width:180px;}
    .footer_box .footer_site .site_item .site_list .site_anchor{font-size:14px;}
}