@charset "UTF-8"; 

/* colgroup */
.colgroup{float:right; position:relative; width:1080px}
.colgroup .tab.type1{margin-top:40px}
@media all and (max-width:1400px){
.colgroup{width:980px}
}
@media all and (max-width:1300px){
.colgroup{width:700px}
}
@media all and (max-width:1000px){
.colgroup{float:none; width:auto}
}

/* 콘텐츠 */
#contents{position:relative; min-height:600px; margin-top:40px; margin-bottom:50px}
@media all and (max-width:640px){
#contents{min-height:300px; margin-top:30px; margin-bottom:25px}
}

/* 서브비주얼 */
.sub_visual{position:relative; text-align:center}
.sub_visual:before{display:block; position:absolute; top:0; left:50%; width:100vw; height:100%; background:url(../images/sub/subvisual_bg.jpg) top center/cover no-repeat; transform:translateX(-50%)}
.sub_visual span{visibility:hidden; opacity:0; position:relative; padding-top:42px; padding-bottom:42px; color:#fff; font-size:34px; line-height:36px; letter-spacing:-0.025em; font-weight:500; transform:translateY(10px); transition-property:visibility,opacity,transform; transition-duration:0.4s; transition-timing-function:ease-in-out}
.sub_visual.active span{visibility:visible; opacity:1; transform:none}
@media all and (max-width:1000px){
.sub_visual span{padding-top:22px; padding-bottom:22px; color:#fff; font-size:24px; line-height:26px}
}
@media all and (max-width:640px){
.sub_visual span{padding-top:18px; padding-bottom:18px; font-size:18px; line-height:20px}
}

/* 사이드 메뉴 */
.side{float:left; position:relative; z-index:30; width:260px; margin-top:58px; font-size:0; line-height:0}
.side .side_menu{position:relative}
.side .menu .depth1_item{margin-top:5px; border:1px solid #d0d0d0; border-radius:12px; box-sizing:border-box}
.side .menu .depth1_item:first-child{margin-top:0}
.side .menu .depth1_text{display:block; position:relative; padding:14px 45px 14px 35px; border-radius:10px; color:#262626; font-size:18px; line-height:24px; letter-spacing:-0.025em; text-decoration:none; word-break:keep-all; transition-property:background,color}
.side .menu .depth1_text:hover{background-color:#f5f5f5}
.side .menu .depth1_text:after{display:block; position:absolute; top:0; bottom:0; right:27px; margin-top:auto; margin-bottom:auto; background-image:url(../images/sprite/side_sprite.png)}
.side .menu .depth1_item.has .depth1_text:after{width:15px; height:15px; background-size:100% 1066.66667%; background-position:left 17.24138%; transition:none}
.side .menu .depth1_text[target='_blank']:after{width:15px; height:15px; background-size:100% 1066.66667%; background-position:left 0; transition:none}
.side .menu .depth1_item.active{position:relative; z-index:10}
.side .menu .depth1_item.active .depth1_text{color:#fff; background-color:#0c1462}
.side .menu .depth1_item.active .depth1_text:before{visibility:visible; opacity:1}
.side .menu .depth1_item.active .depth1_text:hover{text-decoration:none}
.side .menu .depth1_item.has.active{border-color:#0c1462}
.side .menu .depth1_item.has.active .depth1_text:after{width:15px; height:15px; background-size:100% 1066.66667%; background-position:left 34.48276%}
.side .menu .depth2{transition-property:visibility,opacity,background-color}
.side .menu .depth2_list{padding-left:35px; padding-right:24px; transition-property:padding-top,padding-bottom}
.side .menu .depth2_item{margin-top:0; transition-property:margin-top}
.side .menu .depth2_text{display:block; position:relative; padding-left:18px; text-decoration:none; transition:none}
.side .menu .depth2_text:before{visibility:hidden; opacity:0; display:none; position:absolute; top:11px; left:1px; width:8px; height:2px; background-color:#9b9b9b; transition-property:visibility,opacity}
.side .menu .depth2_text:after{background-image:url(../images/sprite/side_sprite.png)}
.side .menu .depth2_text:hover{text-decoration:underline}
.side .menu .depth2_item.has .depth2_text:after{visibility:hidden; opacity:0; display:inline-block; position:relative; top:9px; margin-left:5px; vertical-align:top; transition-property:visibility,opacity,background-color}
.side .menu .depth2_text[target='_blank']:after{display:inline-block; width:0; height:0; margin-left:5px; transition:none}
.side .menu .depth1_item.active .depth2{visibility:visible; opacity:1}
.side .menu .depth1_item.active .depth2_list{padding-top:17px; padding-bottom:17px}
.side .menu .depth1_item.active .depth2_item{margin-top:8px}
.side .menu .depth1_item.active .depth2_item:first-child{margin-top:0}
.side .menu .depth1_item.active .depth2_text{color:#444; font-size:16px; line-height:22px}
.side .menu .depth1_item.active .depth2_text:before{visibility:visible; opacity:1; display:block}
.side .menu .depth1_item.active .depth2_item.has .depth2_text:after{visibility:visible; opacity:1; width:10px; height:6px; background-size:150% 2666.66667%; background-position:left 76.62338%}
.side .menu .depth1_item.active .depth2_text[target='_blank']:after{width:12px; height:12px; background-size:125% 1333.33333%; background-position:left 64.86486%}
.side .menu .depth1_item.active .depth2_item.active .depth2_text{color:#0f3977; font-weight:500}
.side .menu .depth1_item.active .depth2_item.has.active .depth2_text:after{width:10px; height:6px; background-size:150% 2666.66667%; background-position:left 87.01299%}
.side .menu .depth3{transition-property:visibility,opacity}
.side .menu .depth3_list{margin-top:0; padding-top:0; transition-property:margin-top,padding-top,margin-bottom,padding-bottom}
.side .menu .depth3_item{margin-top:0; transition-property:margin-top}
.side .menu .depth3_text{position:relative; padding-left:0; color:#666; font-size:0; line-height:0; letter-spacing:-0.03em; transition:none}
.side .menu .depth3_text:before{visibility:hidden; opacity:0; display:block; position:absolute; top:9px; left:0; width:0; height:0; border:1px solid #666; transition:none}
.side .menu .depth3_text[target='_blank']:after{display:inline-block; width:0; height:0; margin-left:5px; background-image:url(../images/sprite/side_sprite.png); transition:none}
.side .menu .depth1_item.active .depth2_item.active .depth3{visibility:visible; opacity:1}
.side .menu .depth1_item.active .depth2_item.active .depth3_list{margin-top:5px; margin-bottom:2px; margin-left:19px; padding:13px 15px 13px 8px; background-color:#f5f5f5}
.side .menu .depth1_item.active .depth2_item.active .depth3_item{margin-top:4px}
.side .menu .depth1_item.active .depth2_item.active .depth3_item:first-child{margin-top:0}
.side .menu .depth1_item.active .depth2_item.active .depth3_text{padding-left:14px; font-size:15px; line-height:20px}
.side .menu .depth1_item.active .depth2_item.active .depth3_text:before{visibility:visible; opacity:1; width:3px; height:3px}
.side .menu .depth1_item.active .depth2_item.active .depth3_text:hover{text-decoration:underline}
.side .menu .depth1_item.active .depth2_item.active .depth3_text.active{color:#2f6dc0; text-decoration:underline}
.side .menu .depth1_item.active .depth2_item.active .depth3_text.active:before{border-color:#2f6dc0}
.side .menu .depth1_item.active .depth2_item.active .depth3_text[target='_blank']:after{width:10px; height:10px; background-size:150% 1600%; background-position:left 100%}
@media all and (max-width:1300px){
.side{margin-top:47px}
}
@media all and (max-width:1000px){
.side{display:none}
}

/* 서브헤드 */
.sub_head{position:relative; padding-top:52px}
.sub_head .sub_title{margin-top:6px; padding-bottom:26px; border-bottom:2px solid #313131}
.sub_head .sub_title h2{color:#000; font-size:34px; line-height:36px; letter-spacing:-0.025em; font-weight:500}
@media all and (max-width:1300px){
.sub_head{padding-top:40px}
}
@media all and (max-width:1000px){
.sub_head{padding-top:25px}
.sub_head .sub_title{padding-bottom:17px}
.sub_head .sub_title h2{font-size:26px; line-height:28px}
}
@media all and (max-width:640px){
.sub_head .sub_title{padding-bottom:0; border:none}
.sub_head .sub_title h2{font-size:25px; line-height:30px}
}

/* 브래드크럼 */
.breadcrumbs{position:absolute; top:19px; right:0; font-size:0; line-height:0}
.breadcrumbs .breadcrumbs_item{display:inline-block; position:relative; margin-left:12px; padding-left:17px; vertical-align:top}
.breadcrumbs .breadcrumbs_item+.breadcrumbs_item:before{display:block; position:absolute; top:0; bottom:0; left:0; margin-top:auto; margin-bottom:auto; width:7px; height:12px; background-image:url(../images/sprite/breadcrumbs_sprite.png); background-size:214.28571% 283.33333%; background-position:left 0; font-size:0}
.breadcrumbs .breadcrumbs_item:first-child{margin-left:0; padding-left:0; width:14px; height:17px}
.breadcrumbs .breadcrumbs_item:first-child:before{display:block; position:absolute; top:2px; left:0; width:15px; height:12px; background-image:url(../images/sprite/breadcrumbs_sprite.png); background-size:100% 283.33333%; background-position:left 100%}
.breadcrumbs .breadcrumbs_anchor{color:#707070; font-size:15px; line-height:17px; letter-spacing:-0.025em; font-weight:300}
.breadcrumbs .breadcrumbs_anchor:hover{text-decoration:underline}
.breadcrumbs .breadcrumbs_item:last-child .breadcrumbs_anchor{color:#252525; font-weight:400}
@media all and (max-width:1300px){
.breadcrumbs{display:none}
}

/* 공유, 인쇄 */
.addons{position:absolute; top:53px; right:0; font-size:0; line-height:0}
.addons .addons_item{display:inline-block; margin-left:10px; vertical-align:top}
.addons .addons_button{border:none}
.addons .share{position:relative; font-size:0; line-height:0}
.addons .share_hide{display:block; position:absolute; top:0; right:0; width:44px; height:44px; background-image:url(../images/sprite/addons_sprite.png); background-size:100% 1450%; background-position:left 0; vertical-align:top; border:none}
.addons .share .addons_button{width:44px; height:44px; background-image:url(../images/sprite/addons_sprite.png); background-size:100% 1450%; background-position:left 63.63636%}
.addons .share .addons_button:hover{width:44px; height:44px; background-size:100% 1450%; background-position:left 72.72727%}
.addons .share_panel{visibility:hidden; opacity:0; display:block; position:absolute; top:0; right:0; padding-right:49px; background-color:#fff; font-size:0; line-height:0; white-space:nowrap; transform:translateX(10px); transition-property:visibility,opacity,transform; transition-duration:0.25s; transition-timing-function:ease-in-out}
.addons .share_list{display:inline-block}
.addons .share_item{display:inline-block}
.addons .share_item+.share_item{margin-left:5px}
.addons .share_anchor{display:block; width:44px; height:44px; background-image:url(../images/sprite/addons_sprite.png)}
.addons .share_item:nth-child(1) .share_anchor{background-size:100% 1450%; background-position:left 9.09091%}
.addons .share_item:nth-child(2) .share_anchor{background-size:100% 1450%; background-position:left 36.36364%}
.addons .share_item:nth-child(3) .share_anchor{background-size:100% 1450%; background-position:left 27.27273%}
.addons .share_item:nth-child(4) .share_anchor{background-size:100% 1450%; background-position:left 81.81818%}
.addons .share_item:nth-child(5) .share_anchor{background-size:100% 1450%; background-position:left 90.90909%}
.addons .print .addons_button{width:44px; height:44px; background-image:url(../images/sprite/addons_sprite.png); background-size:100% 1450%; background-position:left 45.45455%}
.addons .print .addons_button:hover{width:44px; height:44px; background-size:100% 1450%; background-position:left 54.54545%}
.addons .share.active .share_panel{visibility:visible; opacity:1; transform:none}
@media all and (max-width:1300px){
.addons{top:38px}
}
@media all and (max-width:1000px){
.addons{top:26px}
.addons .share_panel{padding-right:39px}
.addons .print .addons_button,.addons .print .addons_button:hover,.addons .share .addons_button,.addons .share .addons_button:hover,.addons .share_anchor,.addons .share_hide{width:34px; height:34px}
}
@media all and (max-width:640px){
.addons{position:static; margin-top:8px}
.addons .share_panel{left:0; right:auto; padding-left:39px; padding-right:0; transform:translateX(-10px)}
.addons .addons_item{margin-left:0}
.addons .print{display:none}
.addons .share_hide{right:auto; left:0}
}