@charset "utf-8";

.01.step {width:46px; height:46px; background:url('step_sprite.png') no-repeat left top;}
.02.step {width:46px; height:46px; background:url('step_sprite.png') no-repeat left -56px;}
.03.step {width:46px; height:46px; background:url('step_sprite.png') no-repeat left -112px;}
.04.step {width:46px; height:46px; background:url('step_sprite.png') no-repeat left -168px;}
.05.step {width:46px; height:46px; background:url('step_sprite.png') no-repeat left -224px;}
.06.step {width:46px; height:46px; background:url('step_sprite.png') no-repeat left -280px;}
.07.step {width:46px; height:46px; background:url('step_sprite.png') no-repeat left -336px;}
.08.step {width:46px; height:46px; background:url('step_sprite.png') no-repeat left -392px;}
.09.step {width:46px; height:46px; background:url('step_sprite.png') no-repeat left -448px;}
.10.step {width:46px; height:46px; background:url('step_sprite.png') no-repeat left -504px;}

/* 가변 크기 */
.01.step {background-size:100% 1195.65%;}
.02.step {background-position:left 11.11%; background-size:100% 1195.65%;}
.03.step {background-position:left 22.22%; background-size:100% 1195.65%;}
.04.step {background-position:left 33.33%; background-size:100% 1195.65%;}
.05.step {background-position:left 44.44%; background-size:100% 1195.65%;}
.06.step {background-position:left 55.55%; background-size:100% 1195.65%;}
.07.step {background-position:left 66.66%; background-size:100% 1195.65%;}
.08.step {background-position:left 77.77%; background-size:100% 1195.65%;}
.09.step {background-position:left 88.88%; background-size:100% 1195.65%;}
.10.step {background-position:left 100%; background-size:100% 1195.65%;}