@charset "utf-8";

/* Pretendard */
@font-face{
    font-family:'Pretendard';
    font-weight:800;
    src:url("../font/Pretendard-ExtraBold.woff2") format('woff2'),
    url("../font/Pretendard-ExtraBold.woff") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight:700;
    src:url("../font/Pretendard-SemiBold.woff2") format('woff2'),
    url("../font/Pretendard-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight:600;
    src:url("../font/Pretendard-Bold.woff2") format('woff2'),
    url("../font/Pretendard-Bold.woff") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight:500;
    src:url("../font/Pretendard-Medium.woff2") format('woff2'),
    url("../font/Pretendard-Medium.woff") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight:400;
    src:url("../font/Pretendard-Regular.woff2") format('woff2'),
    url("../font/Pretendard-Regular.woff") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight:200;
    src:url("../font/Pretendard-Light.woff2") format('woff2'),
    url("../font/Pretendard-Light.woff") format('woff');
}

/* Raleway */
@font-face{
    font-family:'Raleway';
    font-weight:700;
    src:url("../font/Raleway-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'Raleway';
    font-weight:600;
    src:url("../font/Raleway-Bold.woff") format('woff');
}
@font-face{
    font-family:'Raleway';
    font-weight:500;
    src:url("../font/Raleway-Medium.woff") format('woff');
}
@font-face{
    font-family:'Raleway';
    font-weight:400;
    src:url("../font/Raleway-Regular.woff") format('woff');
}
@font-face{
    font-family:'Raleway';
    font-weight:200;
    src:url("../font/Raleway-Light.woff") format('woff');
}

/* HH */
@font-face{
    font-family:'HH';
    font-weight:600;
    src:url("../font/Hoengseong-Hanu.woff") format('woff');
}

/* Play */
@font-face{
    font-family:'Play';
    font-weight:600;
    src:url("../font/Play-Bold.woff2") format('woff2'),
    url("../font/Play-Bold.woff") format('woff');
}
@font-face{
    font-family:'Play';
    font-weight:400;
    src:url("../font/Play-Regular.woff2") format('woff2'),
    url("../font/Play-Regular.woff") format('woff');
}