@charset "UTF-8";

/* colgroup */
.colgroup{position:relative; float:none; width:100%; margin-bottom:30px;}
@media all and (max-width:1000px){
    .colgroup{float:none; width:auto;}
}
@media all and (max-width:640px){
    .colgroup{}
}

/* 콘텐츠 */
#contents{position:relative; min-height:600px; margin-top:76px; margin-bottom:100px; /*background-color:#f0f3f7;*/}
@media all and (max-width:1000px){
    #contents{margin-top:28px;}
}
@media all and (max-width:640px){
    #contents{min-height:300px; margin-bottom:40px;}
}

/* 서브헤드 */
.sub_head{position:relative; padding-top:81px;}
.sub_head .sub_visual{position:relative; padding-bottom:100px;}
.sub_head .sub_visual:before{display:block; position:absolute; top:-212px; left:calc(50% - 50vw); width:100vw; height:400px; background:#fff url('../../../site/we/images/sub/sub_visual.png') no-repeat top center / cover;}
.sub_head .sub_visual:after{display:block; position:absolute; right:53px; bottom:-38px; width:490px; height:273px; background:url('../../../site/we/images/sub/sub_deco.png') no-repeat;}
.sub_head .sub_visual_title{position:relative; color:#000; font-size:46px; line-height:50px; letter-spacing:0.025em; font-weight:800;}
.sub_head .sub_head_wrap{display:block; position:relative; width:100%; padding:28px 39px; border-radius:30px; box-shadow:15px 26px 25px 0 rgba(129,141,171,0.12); background-color:rgba(255,255,255,0.6); backdrop-filter:blur(15px); -webkit-backdrop-filter:blur(15px);}
.sub_head .sub_title{position:relative; padding-top:100px; text-align:center;}
.sub_head .sub_title h2{ color:#000; font-size:42px; line-height:46px; letter-spacing:0.025em; font-weight:800;}
@media all and (max-width:1000px){
    .sub_head{padding-top:44px;}
    .sub_head:before{display:block; position:absolute; top:29px; left:4px; width:89px; height:111px; background:url('../../../site/we/images/sub/m_sub_deco01.png') no-repeat;}
    .sub_head .sub_visual{padding-bottom:43px;}
    .sub_head .sub_visual:before{z-index:-1; top:-114px; height:210px;}
    .sub_head .sub_visual:after{right:-12px; bottom:-25px; width:115px; height:129px; background-image:url('../../../site/we/images/sub/m_sub_deco02.png');}
    .sub_head .sub_visual_title{font-size:24px; line-height:28px; text-align:center;}
    .sub_head .sub_head_wrap{padding:15px 10px 15px 20px;}
    .sub_head .sub_title{padding-top:37px;}
    .sub_head .sub_title h2{font-size:22px; line-height:26px;}
}

/* 브래드크럼 */
.breadcrumbs{position:relative; font-size:0; line-height:0;}
.breadcrumbs .breadcrumbs_item{display:inline-block; position:relative; margin-left:16px; padding-left:20px; color:#303236; font-size:16px; line-height:24px; letter-spacing:-0.025em; vertical-align:top;}
.breadcrumbs .breadcrumbs_item:before{display:block; position:absolute; top:0; bottom:0; left:0; width:7px; height:12px; margin-top:auto; margin-bottom:auto; background:url('../../../site/we/images/sub/breadcrumbs_arrow.png') no-repeat; font-size:0; line-height:0;}
.breadcrumbs .breadcrumbs_item:first-child{margin-left:0; padding-left:0; font-size:0; line-height:0;}
.breadcrumbs .breadcrumbs_item:first-child:before{display:none}
.breadcrumbs .breadcrumbs_item .breadcrumbs_anchor{display:block; color:#303236;}
.breadcrumbs .breadcrumbs_item:first-child .breadcrumbs_anchor{width:18px; height:24px; background:url('../../../site/we/images/sub/breadcrumbs_home.png') center no-repeat;}
.breadcrumbs .breadcrumbs_anchor:hover{text-decoration:underline;}
@media all and (min-width:1001px){
    .breadcrumbs .breadcrumbs_item:nth-child(4){display:none;}
}
@media all and (max-width:1000px){
    .breadcrumbs .breadcrumbs_item{margin-left:7px; padding-left:10px; font-size:12px; line-height:20px;}
    .breadcrumbs .breadcrumbs_item:before{width:6px; height:10px; background-size:cover;}
    .breadcrumbs .breadcrumbs_item:first-child .breadcrumbs_anchor{height:20px; background-size:13px 14px;}
}

/* 공유, 인쇄 */
.addons{position:absolute; top:24px; right:37px; font-size:0; line-height:0;}
.addons .addons_item{display:inline-block; width:30px; height:30px; vertical-align:top;}
.addons .addons_item+.addons_item{margin-left:18px;}
.addons .addons_item .addons_button{display:block; width:100%; height:100%;}
.addons .addons_item.url .addons_button{background:url('../../../site/we/images/sub/url_icon.png') center no-repeat;}
.addons .addons_item.print .addons_button{background:url('../../../site/we/images/sub/print_icon.png') center no-repeat;}
@media all and (max-width:1000px){
    .addons{display:none;}
}

/* 탭메뉴 */
.sub_head+.cms_tab{margin-top:76px;}
.cms_tab{position:relative;}
.cms_tab .tab_menu .tab_select{display:none; font-size:18px; line-height:24px;}
.cms_tab .tab_menu .tab_panel{font-size:0; line-height:0;}
.cms_tab .tab_menu .tab_list{position:relative; padding:7px;}
.cms_tab .tab_menu .tab_list:before{display:block; position:absolute; top:0; left:0; width:100%; height:70px; border-radius:35px; background-color:#ebf0f4;}
.cms_tab .tab_menu .tab_item{display:inline-block; position:relative; vertical-align:top; text-align:center;}
.cms_tab .tab_menu .tab_item+.tab_item:before{display:block; position:absolute; top:0; left:0; bottom:0; width:6px; height:6px; margin:auto 0; border-radius:50%; background-color:#d3dae0;}
.cms_tab .tab_menu .tab_item.active:before,
.cms_tab .tab_menu .tab_item.active+.tab_item:before{display:none;}
.cms_tab .tab_list .tab_item .tab_button{overflow:hidden; width:100%; height:56px; padding:0 10px; border-radius:35px; color:#a1adb7; font-size:18px; line-height:26px; letter-spacing:-0.01em; font-weight:500; word-break:keep-all; transition:color 0.25s ease-in-out; text-decoration:none;}
.cms_tab .tab_list .tab_item .tab_button:after{display:inline-block; height:100%; vertical-align:middle;}
.cms_tab .tab_list .tab_item .tab_button span{display:inline-block; position:relative; vertical-align:middle;}
.cms_tab .tab_list .tab_item.active .tab_button{z-index:10; }
.cms_tab .tab_list .tab_item.active .tab_button{box-shadow:5px 9px 25px 0 rgba(148,162,174,0.35); background-color:#fff; color:#3b4c59; font-weight:700;}
/* 탭메뉴 4차 */
.cms_tab .tab_menu .tab4_list{display:none; margin-top:13px; padding:0 65px 5px;}
.cms_tab .tab_menu .tab3_item.active .tab4_list{display:block;}
.cms_tab .tab_menu .tab4_list:before{top:auto; left:-7px; bottom:0; width:calc(100% + 14px); height:1px!important; border-radius:0; background-color:#d3dae0;}
.cms_tab .tab_menu .tab4_item+.tab4_item:before{display:none;}
.cms_tab .tab4_list .tab4_item .tab_button{height:50px; box-shadow:none!important; background-color:transparent!important; font-size:16px; font-weight:400!important;}
.cms_tab .tab4_list .tab4_item .tab_button span{padding-left:12px;}
.cms_tab .tab4_list .tab4_item .tab_button span:before{display:block; position:absolute; top:0; left:0; bottom:0; width:6px; height:4px; margin:auto 0; border-radius:2px; background-color:#c5ebdd; transition:background-color 0.25s ease-in-out;}
.cms_tab .tab4_list .tab4_item.active .tab_button{color:#00a96b;}
.cms_tab .tab4_list .tab4_item.active .tab_button span:before{background-color:#04be7a;}
@media all and (min-width:1001px){
    .cms_tab .tab_list .tab_item .tab_button:hover{color:#3b4c59;}
    .cms_tab .tab4_list .tab4_item .tab_button:hover{color:#00a96b;}
    .cms_tab .tab4_list .tab4_item .tab_button:hover span:before{background-color:#04be7a;}
}
@media all and (max-width:1000px){
    .sub_head+.cms_tab{margin-top:40px;}
    .cms_tab .tab_menu .tab_list:before{height:60px;}
    .cms_tab .tab_list .tab_item .tab_button{height:46px; padding:0 6px; font-size:15px; line-height:19px;}
    /* 탭메뉴 4차 */
    .cms_tab .tab_menu .tab4_list{padding-left:25px; padding-right:25px;}
    .cms_tab .tab4_list .tab4_item .tab_button{height:36px; font-size:14px;}
}
@media all and (min-width:801px){
    .cms_tab .tab_menu .tab_panel{display:block!important; position:relative;}
    .cms_tab .tab_menu.length2 .tab_item{width:calc(100%/2);}
    .cms_tab .tab_menu.length3 .tab_item{width:calc(100%/3);}
    .cms_tab .tab_menu.length4 .tab_item{width:calc(100%/4);}
    .cms_tab .tab_menu.length5 .tab_item{width:calc(100%/5);}
    .cms_tab .tab_menu.length6 .tab_item{width:calc(100%/6);}
    .cms_tab .tab_menu.length7 .tab_item{width:calc(100%/7);}
    /* 탭메뉴 4차 */
    .cms_tab .tab_menu.length2 .tab4_list{width:200%;}
    .cms_tab .tab_menu.length3 .tab4_list{width:300%;}
    .cms_tab .tab_menu.length4 .tab4_list{width:400%;}
    .cms_tab .tab_menu.length5 .tab4_list{width:500%;}
    .cms_tab .tab_menu.length6 .tab4_list{width:600%;}
    .cms_tab .tab_menu.length7 .tab4_list{width:700%;}

    .cms_tab .tab_menu .tab3_item:nth-child(2) .tab4_list{left:-100%;}
    .cms_tab .tab_menu .tab3_item:nth-child(3) .tab4_list{left:-200%;}
    .cms_tab .tab_menu .tab3_item:nth-child(4) .tab4_list{left:-300%;}
    .cms_tab .tab_menu .tab3_item:nth-child(5) .tab4_list{left:-400%;}
    .cms_tab .tab_menu .tab3_item:nth-child(6) .tab4_list{left:-500%;}
    .cms_tab .tab_menu .tab3_item:nth-child(7) .tab4_list{left:-600%;}

    .cms_tab .tab_menu.divide2 .tab4_item{width:calc(100%/2);}
    .cms_tab .tab_menu.divide3 .tab4_item{width:calc(100%/3);}
    .cms_tab .tab_menu.divide4 .tab4_item{width:calc(100%/4);}
    .cms_tab .tab_menu.divide5 .tab4_item{width:calc(100%/5);}
    .cms_tab .tab_menu.divide6 .tab4_item{width:calc(100%/6);}
}
@media all and (max-width:800px){
    .cms_tab .tab_menu{position:relative;}
    .cms_tab .tab_menu .tab_select{display:block; position:relative; width:100%; border:1px solid #3b4c59; border-radius:10px; text-align:left;}
    .cms_tab .tab_menu .tab_select:before{display:block; position:absolute; top:0; right:14px; bottom:0;  width:11px; height:7px; margin:auto 0; background:url('../../../site/we/images/common/m_depth2_arrow.png') no-repeat;}
    .cms_tab .tab_menu.active .tab_select:before{transform:rotateX(180deg);}
    .cms_tab .tab_menu .tab_select span{display:block; padding:12px 30px 10px 14px; color:#3b4c59; font-size:14px; line-height:18px; font-weight:500;}
    .cms_tab .tab_menu .tab_panel{display:none; position:absolute; z-index:9; top:calc(100% + 5px); left:0; width:100%;}
    .cms_tab .tab_menu .tab_list{margin-right:0; padding:15px 14px; border:1px solid #3b4c59; border-radius:10px; background-color:#fff;}
    .cms_tab .tab_menu .tab_list:before{display:none;}
    .cms_tab .tab_menu .tab_item{display:block; position:relative; width:100%; margin-right:0; margin-bottom:0; padding-left:8px; border:none; text-align:left;}
    .cms_tab .tab_menu .tab_item+.tab_item{margin-top:8px;}
    .cms_tab .tab_menu .tab_item:before{display:block; position:absolute; top:11px; left:0; width:2px; height:2px; border-radius:4px; background-color:#3b3b3b;}
    .cms_tab .tab_list .tab_item .tab_button{height:auto; padding:0; font-size:14px; line-height:20px; font-weight:400;}
    .cms_tab .tab_list .tab_item.active{box-shadow:none;}
    .cms_tab .tab_menu .tab_item:before{display:block; position:absolute; top:8px; left:0; width:4px; height:4px; margin:auto 0; border-radius:50%; background-color:#d3dae0;}
    .cms_tab .tab_menu .tab_item+.tab_item:before{top:8px; bottom:auto; width:4px; height:4px;}
    .cms_tab .tab_menu .tab_item.active:before,
    .cms_tab .tab_menu .tab_item.active+.tab_item:before{display:block;}
    .cms_tab .tab_list .tab_item.active .tab_button{box-shadow:none; font-weight:500;}
    .cms_tab .tab_menu .tab_item.active:before{background-color:#3b4c59;}
    /* 탭메뉴 4차 */
    .cms_tab .tab_menu .tab4_list{margin-top:0; padding:8px 0 2px; border:none;}
    .cms_tab .tab_menu .tab4_item{display:inline-block; width:auto; margin-right:12px; padding-left:0;}
    .cms_tab .tab_menu .tab4_item:before{display:none!important;}
    .cms_tab .tab_menu .tab4_item+.tab4_item{margin-top:0;}
    .cms_tab .tab4_list .tab4_item .tab_button{font-size:13px;}
    .cms_tab .tab4_list .tab4_item .tab_button span{padding-left:10px;}
    .cms_tab .tab4_list .tab4_item .tab_button span:before{width:5px; height:3px;}
}
