@charset "UTF-8";

/* 본고딕 */
@font-face{
    font-family: 'NotoKr';
    font-weight: 200;
    src: url("../../../common2020/fonts/NotoSansCJKkr-Light.woff2") format('woff2'),
    url("../../../common2020/fonts/NotoSansCJKkr-Light.woff") format('woff');
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 300;
    src: url("../../../common2020/fonts/NotoSansCJKkr-Regular.woff2") format('woff2'),
    url("../../../common2020/fonts/NotoSansCJKkr-Regular.woff") format('woff');
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 500;
    src: url("../../../common2020/fonts/NotoSansCJKkr-Medium.woff2") format('woff2'),
    url("../../../common2020/fonts/NotoSansCJKkr-Medium.woff") format('woff');
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 600;
    src: url("../../../common2020/fonts/NotoSansCJKkr-Bold.woff2") format('woff2'),
    url("../../../common2020/fonts/NotoSansCJKkr-Bold.woff") format('woff');
}

/* 지마켓 폰트 GmarketSans */
@font-face{
    font-family:'GmarketSans';
    font-weight:200;
    src:url("../../../common2020/fonts/GmarketSans-Light.woff2") format('woff2'),
    url("../../../common2020/fonts/GmarketSans-Light.woff") format('woff');
}
@font-face{
    font-family:'GmarketSans';
    font-weight:400;
    src:url("../../../common2020/fonts/GmarketSansMedium.eot");
    src:url("../../../common2020/fonts/GmarketSansMedium.eot?#iefix") format('embedded-opentype'),
    url("../../../common2020/fonts/GmarketSansMedium.woff") format('woff');
}
@font-face{
    font-family:'GmarketSans';
    font-weight:600;
    src:url("/../../..common2020/fonts/GmarketSansBold.eot");
    src:url("../../../common2020/fonts/GmarketSansBold.eot?#iefix") format('embedded-opentype'),
    url("../../../common2020/fonts/GmarketSansBold.woff") format('woff');
}

/* Opensans */
@font-face{
    font-family:'Opensans';
    font-weight: 400;
    src: url("../../../common2020/fonts/OpensansR.woff2") format('woff2'),
    url("../../../common2020/fonts/OpensansR.woff") format('woff');
}

@font-face{
    font-family:'Opensans';
    font-weight: 600;
    src: url("../../../common2020/fonts/OpensansB.woff2") format('woff2'),
    url("../../../common2020/fonts/OpensansB.woff") format('woff');
}

/* SUITE */
@font-face {
    font-family: 'SUIT';
    font-weight: 400;
    src: url('../fonts/SUIT-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'SUIT';
    font-weight: 500;
    src: url('../fonts/SUIT-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'SUIT';
    font-weight: 600;
    src: url('../fonts/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'SUIT';
    font-weight: 700;
    src: url('../fonts/fonts/SUIT-Bold.woff2') format('woff2');
}

/* SUITE */
@font-face {
    font-family: 'SUITE';
    font-weight: 500;
    src: url('../fonts/SUITE-Medium.woff2') format('woff2'),
    url('../fonts/SUITE-Medium.woff') format('woff');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 600;
    src: url('../fonts/SUITE-SemiBold.woff2') format('woff2'),
    url('../fonts/SUITE-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 700;
    src: url('../fonts/SUITE-Bold.woff2') format('woff2'),
    url('../fonts/SUITE-Bold.woff') format('woff');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 800;
    src: url('../fonts/SUITE-ExtraBold.woff2') format('woff2'),
    url('../fonts/SUITE-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 900;
    src: url('../fonts/SUITE-Heavy.woff2') format('woff2'),
    url('../fonts/SUITE-Heavy.woff') format('woff');
}

/* HakgyoansimRikodeo */
@font-face {
    font-family: 'HakgyoansimRikodeo';
    font-weight: 400;
    src: url('../fonts/HakgyoansimRikodeoR.woff2') format('woff2'),
    url('../fonts/HakgyoansimRikodeoR.woff') format('woff');
}