@charset "UTF-8";
/* 998 minister, 1739 vice minister  */
.minister_profile .profile{margin-bottom:80px; padding:32px 30px 48px 578px;}
.minister_profile .profile:before{display:block; position:absolute; top:32px; left:185px; z-index:10; width:330px; height:420px; border-radius:40px; box-shadow:8px 6px 30px 0 rgba(0,19,51,0.25);}
.minister_profile .profile:after{display:block; position:absolute; top:0; left:0; z-index:-1; width:600px; height:600px; background:url('/site/english/images/contents/cts997_bg.png') no-repeat 0 0 / cover;}
.minister_profile .profile .title{position:relative; padding-top:25px; font-size:70px; font-family:'Montserrat'; line-height:85px;}
.minister_profile .profile .title_sub{padding-top:218px; color:#a4916c; font-size:30px; font-weight:700;}
.minister_profile .profile .title_sub:before{display:block; position:absolute; top:60px; left:578px; width:328px; height:134px; background:url('/site/english/images/contents/cts1739_text.png') no-repeat 0 0 / cover;}
.minister_profile .profile .bu.dl{padding-top:10px;}
.minister_profile .profile .bu li{padding:0; font-size:20px; line-height:40px;}
.minister_profile .profile .bu li:before{display:none;}
.minister_profile .profile .bu.dl .dt{min-width:135px; margin-right:40px;}
.minister_profile .box{border-radius:10px;}
.minister_profile .box.n01{border:0; background-color:#f4f4f9;}
.minister_profile .box.n03{border:0; background-color:#f4f4f9;}
.minister_profile .bu{margin-top:0;}

@media all and (max-width:1600px){
    .minister_profile .profile{padding:32px 30px 48px 480px;}
    .minister_profile .profile:before{left:100px;}
    .minister_profile .profile .title_sub:before{left:480px;}
}
@media all and (max-width:1200px){
    .minister_profile .profile{margin-bottom:0; padding:32px 30px 30px 370px;}
    .minister_profile .profile:before{width:230px; height:293px;}
    .minister_profile .profile:after{width:400px; height:400px;}
    .minister_profile .profile .title_sub{padding-top:150px;}
    .minister_profile .profile .title_sub:before{left:370px; width:250px; height:102px;}
    .minister_profile .profile .bu .fiexbox{display:block;}
    .minister_profile .profile .bu .fiexbox .dd{display:block;}
}
@media all and (max-width:1000px){
    .minister_profile .profile .bu .fiexbox{display:flex;}
}
@media all and (max-width:800px){
    .minister_profile .profile{padding:32px 30px 30px 350px;}
    .minister_profile .profile:before{left:70px;}
    .minister_profile .profile .title_sub:before{left:350px;}
    .minister_profile .profile .bu .fiexbox{display:block;}
}
@media all and (max-width:640px){
    .minister_profile .profile{padding:200px 0 20px;}
    .minister_profile .profile:before{left:50%; width:300px; height:382px; transform:translateX(-50%);}
    .minister_profile .profile:after{left:50%; width:450px; height:450px; transform:translateX(-50%);}
    .minister_profile .profile .title_sub{padding-top:400px; font-size:24px;}
    .minister_profile .profile .title_sub:before{top:470px; left:20px;}
    .minister_profile .profile .bu li{font-size:15px; line-height:22px;}
    .minister_profile .profile .bu.dl .dt{min-width:110px;}
    .minister_profile .box .bu .fiexbox{display:block;}
}

.cts998_wrap.minister_profile .profile:before{background:url('/site/english/images/contents/cts998_img01.jpg') no-repeat 0 0 / cover;}
.cts998_wrap.minister_profile .profile .title_sub:before{height:150px; background:url('/site/english/images/contents/cts998_text.png') no-repeat 0 0 / cover;}
.cts998_wrap.minister_profile .box.n03 .bu.dl .dt{min-width:50px;}
.cts1739_wrap.minister_profile .profile:before{background:url('/site/english/images/contents/cts1739_img01.jpg') no-repeat 0 0 / cover;}
.cts1739_wrap.minister_profile .profile .title_sub:before{background:url('/site/english/images/contents/cts1739_text.png') no-repeat 0 0 / cover;}

@media all and (max-width:1200px){
    .cts998_wrap.minister_profile .profile .title_sub:before{height:114px;}
}

/* 957 Bereaved family invitation */
.cts957_wrap .legend_box{margin:30px auto 0; padding:30px; background-color:#f5f5f5; color:#222; font-size:15px;}
.cts957_wrap .legend_box li{display:block; float:left; position:relative; margin:0 14px 3px; padding-left:25px;}
.cts957_wrap .legend_box li:before{display:block; position:absolute; top:3px; left:0; width:15px; height:15px; border-radius:5px; background-color:#0a3a71;}
.cts957_wrap .legend_box li.turkey:before{background-color:#1471d9;}
.cts957_wrap .legend_box li.canada:before{background-color:#7e14d9;}
.cts957_wrap .legend_box li.australia:before{background-color:#14d97a;}
.cts957_wrap .legend_box li.netherlands:before{background-color:#14a8d9;}
.cts957_wrap .legend_box li.new_zealand:before{background-color:#e03b75;}
.cts957_wrap .legend_box li.republic:before{background-color:#7c4625;}
.cts957_wrap .legend_box li.france:before{background-color:#f87731;}
.cts957_wrap .legend_box li.norway:before{background-color:#0a715c;}
.cts957_wrap .legend_box li.south_korea:before{background-color:#5a68ec;}
.cts957_wrap .legend_box li.united_states:before{background-color:#82909f;}
.cts957_wrap .legend_box li.others:before{background-color:#9eac43;}
.cts957_wrap .legend_box ul:after{display:table; clear:both; content:"";}
.cts957_wrap table.table .total{color:#df3246;}

@media all and (max-width:460px){
    .cts957_wrap .legend_box li{width:100%;}
}

/* 962 colleage student scholarship */
.cts962_wrap .box.image .box_content{min-height:300px;}

/* 963 primary and secondary student*/
.cts963_wrap .box.image .box_content .title{margin-bottom:20px;}
.cts963_wrap .box.image .box_content{min-height:400px; padding:63px 80px 76px 205px;}

@media all and (max-width:800px){
    .cts963_wrap .box.image .box_content{padding:260px 50px 50px; border-bottom-left-radius:120px; border-top-left-radius:80px;}
}
@media all and (max-width:640px){
    .cts963_wrap .box.image .box_content{padding:250px 25px 40px; border-radius:20px 60px 20px 60px;}
}

/* 964  peace camp for youth*/
.cts964_wrap .box.image .box_content{min-height:320px;}

/* 974 involvement of the US and the UN */
.cts974_wrap .pattern_box{margin-bottom:60px;}

/* 989 significance */
.cts989_wrap .box.image{padding:0;}
.cts989_wrap .box.image .box_image{top:-50px; left:50%; width:290px; transform:translateX(-50%);}
.cts989_wrap .box.image .box_content{min-height:320px; margin-top:100px; padding:200px 50px 50px; border-radius:30px 200px 30px 120px;}
.cts989_wrap .box.image.n02 .box_content{margin-top:120px;}
.cts989_wrap .box.image .box_content .title{text-align:center;}

@media all and (max-width:640px){
    .cts989_wrap .box.image .box_image{width:250px;}
    .cts989_wrap .box.image .box_content{padding:200px 30px 30px;}
    .cts989_wrap .box.image .box_content .title{margin-bottom:0;}
}

/* 973~982 history */
.pic_center .box.image.type3 .box_image .image{text-align:center;}
.pic_center .caution{text-align:left;}

/* 1003  organization*/
#org_box{margin-top:0;}
#org_box .onz_box{width:100%; height:2000px; margin-bottom:78px;}
#org_box h3{margin-top:0; margin-bottom:35px;}
#org_box{width:100%; height:auto; margin-bottom:78px;}
#org_box .onz_in .onz_1{display:block; position:relative; width:180px; margin:0 auto 30px; border-radius:10px; background-color:#00215e; color:#fff; font-size:17px; text-align:center; line-height:50px;}
#org_box .onz_in .onz_1:before{display:block; position:absolute; top:100%; left:50%; width:1px; height:672px; background-color:#d5d7dd;}
#org_box .onz_in .onz_2{overflow:hidden; width:72%; margin-left:14%; text-align:center;}
#org_box .onz_box .onz_in .onz_2 li:first-child{float:left; position:relative;}
#org_box .onz_box .onz_in .onz_2 li:first-child:before{display:block; position:absolute; top:25px; left:100%; width:250px; height:1px; background-color:#d5d7dd;}
#org_box .onz_in .onz_2 li span{display:block; position:relative; z-index:1; width:320px; border:1px solid #2d5ec1; border-radius:10px; background-color:#f4f4f9; color:#00215e; line-height:50px;}
#org_box .onz_box .onz_in .onz_2 li{float:right;}
#org_box .onz_box .onz_in .onz_2 li ul{position:relative; top:-24px; width:100%; padding-top:30px; border:1px solid #2d5ec1; border-radius:10px; background-color:#fff;}
#org_box .onz_box .onz_in .onz_2 li ul li{float:none; width:100%; padding:3px 0; padding:12px 0; border:none; border-radius:10px; background-color:#fff; color:#00215e; font-size:17px; line-height:1.3em;}

#org_box .onz_box .onz_in .onz_3{display:block; clear:both; position:relative; z-index:1; width:180px; height:50px; margin:24px auto 33px; border-radius:10px; background-color:#2d5ec1; color:#fff; font-size:17px; text-align:center; line-height:50px;}

#org_box .onz_box .onz_in .onz_2a{overflow:hidden; position:relative; z-index:1; width:74%; margin-left:12%; text-align:center;}
#org_box .onz_box .onz_in .onz_2a li{float:right; width:320px;}
#org_box .onz_box .onz_in .onz_2a li span{display:block; position:relative; z-index:1; padding:12px; border:1px solid #2d5ec1; border-radius:10px; background-color:#f4f4f9; color:#00215e;}
#org_box .onz_box .onz_in .onz_2a li ul{position:relative; top:-24px; width:100%; padding:34px 12px 12px 12px; border:1px solid #2d5ec1; border-radius:10px; background-color:#fff;}
#org_box .onz_box .onz_in .onz_2a li ul li{float:none; width:100%; padding:3px 0; border:none; border-radius:10px; background-color:#fff; color:#00215e; font-size:17px; line-height:1.3em;}

#org_box .onz_in .onz_4{overflow:hidden; width:74%; margin-top:40px; margin-left:12%; text-align:center; line-height:50px;}
#org_box .onz_box .onz_in .onz_4 li:first-child{float:left;}
#org_box .onz_box .onz_in .onz_4 li{display:block; float:right; width:320px; height:50px; border:1px solid #89692a; border-radius:10px; background-color:#fdfaf3; color:#89692a; text-align:center; line-height:50px;}

#org_box .onz_in .onz_5{margin-left:-2%; text-align:center;}
#org_box .onz_in .onz_5 .onz_5_list{position:relative; width:100%; margin:80px auto 0px; padding:0 85px 50px 95px; box-sizing:border-box;}
#org_box .onz_in .onz_5 .onz_5_list ul{float:left; width:243px; text-align:center;}

#org_box .onz_box .onz_in .onz_5 .onz_5_list .onz_5_item:before{display:block; position:absolute; top:-30px; left:calc(20% - 1px); width:724px; height:1px; background-color:#d5d7dd;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list .onz_5_item:after{display:block; position:absolute; top:-30px; right:150px; width:1px; height:858px; background-color:#d5d7dd;}

#org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team:before{display:block; position:absolute; top:-30px; left:50%; width:1px; height:30px; background-color:#d5d7dd;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team{position:relative; z-index:2; background-color:#fff;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team span{position:relative; z-index:2; height:auto; padding:16px; border:1px solid #dd4950; border-radius:10px; background-color:#fdf8f8; color:#dd4950; vertical-align:middle; box-sizing:border-box;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul ul{position:relative; top:-36px; width:100%; padding:34px 12px 12px 12px; border:1px solid #dd4950; border-radius:10px; background-color:#fff;}
#org_box .onz_in .onz_5 .onz_5_list .bu{text-align:left;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul.onz_5a{width:535px; margin-bottom:40px; margin-left:25px;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul.onz_5a ul{top:-26px;}

#org_box .onz_in .onz_5 .onz_5_list .onz_5b{position:relative; width:234px; margin-left:25px;}
#org_box .onz_in .onz_5 .onz_5_list .onz_5b:before{display:block; position:absolute; top:-30px; left:50%; width:1px; height:30px; background-color:#d5d7dd;}
#org_box .onz_in .onz_5 .onz_5_list .onz_5b.n01:after{display:block; position:absolute; top:-30px; left:50%; width:729px; height:1px; background-color:#d5d7dd;}
#org_box .onz_in .onz_5 .onz_5_list .onz_5b.n01{margin-left:0;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team span{position:relative; width:100%; min-height:80px;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team .team_a{float:left; width:calc((100% - 20px)/3); margin-right:10px;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team .team_a:last-child{margin-right:0;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team .team_a span{border:1px solid #d5d7dd; background-color:#f4f4f9; color:#4a4f66;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team .team_a .bu{top:-36px;}
#org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team .team_a ul{border:1px solid #d5d7dd;}

#org_box .onz_box2{width:100%; height:auto;}
#org_box .onz_box2 h3{position:relative; top:50px;}
#org_box .onz_box2 .onz_1{display:block; position:relative; width:180px; height:50px; margin:0 auto 80px; margin-top:80px; border-radius:10px; background-color:#2d5ec1; color:#fff; text-align:center; line-height:50px;}
#org_box .onz_box2 .onz_2{position:relative; width:100%; margin:0 auto; text-align:center;}
#org_box .onz_box2 .onz_2 > ul{display:inline-block; position:relative; width:230px; margin:0 10px; vertical-align:top;}
#org_box .onz_box2 .onz_2 ul li.team span{display:inline-flex; position:relative; z-index:1; width:100%; min-height:110px; padding:0 10px; border:1px solid #2d5ec1; border-radius:10px; background-color:#f4f4f9; color:#00215e; text-align:center; box-sizing:border-box;align-items:center;justify-content:center;}
#org_box .onz_box2 .onz_2 ul li.team ul{position:relative; top:-34px; width:100%; padding:30px 12px 12px 12px; border:1px solid #2d5ec1; border-radius:10px; text-align:left;}

#org_box .onz_box2 .onz_1:before{display:block; position:absolute; top:100%; left:50%; width:1px; height:50px; background-color:#d5d7dd;}
#org_box .onz_box2 .onz_2:before{display:block; position:absolute; top:-30px; left:calc(50% - 382px); width:764px; height:1px; background-color:#d5d7dd;}
#org_box .onz_box2 .onz_2 > ul:before{display:block; position:absolute; top:-30px; left:50%; width:1px; height:30px; background-color:#d5d7dd;}

@media all and (max-width:1440px){
    #org_box .onz_in .onz_2{width:100%; margin-left:0;}
    #org_box .onz_box .onz_in .onz_2a{width:100%; margin-left:0;}
    #org_box .onz_in .onz_4{width:100%; margin-left:0;}
    #org_box .onz_in .onz_5{margin-left:0;}
    #org_box .onz_in .onz_5 .onz_5_list{padding:0;}
    #org_box .onz_in .onz_5 .onz_5_list .onz_5b.n01:after{width:713px;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list .onz_5_item:before{left:14.7%; width:708px;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list .onz_5_item:after{right:0;}
    #org_box .onz_box2 .onz_2:before{left:calc(50% - 306px); width:614px;}
    #org_box .onz_box2 .onz_2 > ul{width:180px;}
}
@media all and (max-width:1200px){
    #org_box .onz_box{height:2230px;}
    #org_box .onz_box2 .onz_2:before{left:calc(50% - 267px); width:536px;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list ul.onz_5a{width:420px; margin-left:10px;}
    #org_box .onz_in .onz_5 .onz_5_list .onz_5b{width:216px;}
    #org_box .onz_in .onz_5 .onz_5_list .onz_5b.n01:after{width:592px;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list .onz_5_item:before{left:17.5%; width:576px;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list .onz_5_item:after{height:1083px;}
    #org_box .onz_box2 .onz_2 > ul{width:164px; margin:0 5px;}
    #org_box .onz_box2 .onz_2 > ul:first-child{margin-left:0;}
    #org_box .onz_box2 .onz_2 > ul:last-child{margin-right:0;}
}
@media all and (max-width:1000px){
    #org_box .onz_box{height:2000px; margin-bottom:0;}
    #org_box .onz_in .onz_1:before{height:1400px;}
    #org_box .onz_in .onz_2{width:90%; margin-left:5%;}
    #org_box .onz_box .onz_in .onz_2a{width:90%; margin-left:5%;}
    #org_box .onz_box2 .onz_1:before{height:1100px;}
    #org_box .onz_box2 .onz_2:before{display:none;}
    #org_box .onz_box2 .onz_2 > ul{width:180px;}
    #org_box .onz_in .onz_4{width:90%; margin-left:5%;}
    #org_box .onz_in .onz_5 .onz_5_list ul{width:100%;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list ul.onz_5a{width:100%; margin-left:0;}
    #org_box .onz_in .onz_5 .onz_5_list .onz_5b{width:calc((100% - 50px)/3);}
    #org_box .onz_in .onz_5 .onz_5_list .onz_5b:before{display:none;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list .onz_5_item:before{display:none;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list .onz_5_item:after{display:none;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team:before{display:none;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list ul.onz_5a{margin-bottom:0;}

    #org_box .onz_box2 .onz_2 > ul{width:100%;}
    #org_box .onz_box2 .onz_2 > ul:before{display:none;}
    #org_box .onz_box2 .onz_2 ul li.team span{z-index:2;}
    #org_box .onz_box2 .onz_2 ul li.team ul{z-index:1; background-color:#fff;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team span{min-height:auto;}
    #org_box .onz_box2 .onz_2 ul li.team span{min-height:auto; padding:16px;}
    #org_box .onz_in .onz_5 .onz_5_list .onz_5b.n01:after{display:none;}
}
@media all and (max-width:800px){
    #org_box .onz_box{height:2200px;}
    #org_box .onz_in .onz_2{width:100%; margin-left:0;}
    #org_box .onz_box .onz_in .onz_2 > li:first-child{float:none; margin-bottom:30px}
    #org_box .onz_box .onz_in .onz_2 li:last-child{float:none;}
    #org_box .onz_in .onz_2 li span{width:100%;}
    #org_box .onz_box .onz_in .onz_2a{width:100%; margin-left:0;}
    #org_box .onz_box .onz_in .onz_2a li{float:none; width:100%;}
    #org_box .onz_in .onz_4{width:100%; margin-top:30px; margin-left:0;}
    #org_box .onz_box .onz_in .onz_4 li{position:relative; z-index:1; width:100%;}
    #org_box .onz_box .onz_in .onz_4 li:first-child{float:none; margin-bottom:30px;}
    #org_box .onz_in .onz_5 .onz_5_list{margin:50px auto 0px;}
}
@media all and (max-width:640px){
    #org_box .onz_box2 .onz_1:before{height:1000px;}
    #org_box .onz_in .onz_1{font-size:15px;}
    #org_box .onz_box .onz_in .onz_3{font-size:15px;}
    #org_box .onz_box .onz_in .onz_5 .onz_5_list ul li.team .team_a{width:100%;}
    #org_box .onz_box .onz_in .onz_2a li ul li{font-size:15px;}
    #org_box .onz_box .onz_in .onz_2 li ul li{font-size:15px;}
    #org_box .onz_in .onz_5 .onz_5_list .onz_5b{width:100%; margin-left:0;}
}
@media all and (max-width:460px){
    #org_box .onz_box2 .onz_1:before{height:1100px;}
}
@media all and (max-width:440px){
    #org_box .onz_box2 .onz_1:before{height:1200px;}
}
@media all and (max-width:400px){
    #org_box .onz_box2 .onz_1:before{height:1300px;}
}