@charset "UTF-8";

.wrap{width:1760px;}

/* rowgroup */
.rowgroup{position:relative; overflow:hidden; padding-top:77px; padding-bottom:96px; border-bottom-right-radius:115px; font-size:0; line-height:0;}
.rowgroup:before{display:block; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; background-color:#fff;}
.rowgroup:after{display:block; position:absolute; bottom:0; right:0; z-index:1; width:380px; height:257px; background-image:url(/site/public/images/main/memorise_bg2.png);}
.rowgroup .wrap{}

/* 메인 팝업 */
.visual{display:inline-block; position:relative; z-index:3; width:1000px; height:480px; vertical-align:top;}
.visual .visual_list{overflow:hidden; border-radius:30px 30px 30px 0;}
.visual .visual_item{}
.visual .visual_anchor{}
.visual .visual_anchor .visual_image{width:100%; height:100%; }
.visual .visual_control{display:block; position:absolute; bottom:-10px; left:0; padding:33px 53px 0 30px; border-radius:0 65px 0 0; background-color:#fff; font-size:0; line-height:0;}
.visual .visual_control .count{display:inline-block; width:76px; height:40px; border-radius:20px; border:1px solid #d5d5d5; background-color:#fff; text-align:center; vertical-align:top;}
.visual .visual_control .count .current,
.visual .visual_control .count .total{display:inline-block; padding-right:5px; padding-left:5px; font-weight:600; font-size:19px; line-height:40px;}
.visual .visual_control .count .current{color:#0055e3;}
.visual .visual_control .count .total{position:relative; color:#000;}
.visual .visual_control .count .total:before{display:block; position:absolute; top:18px; left:-2px; width:6px; height:2px; background-color:#000;}
.visual .visual_control button{display:inline-block; position:relative; width:40px; height:40px; margin-left:10px; border-width:1px; border-style:solid; border-color:#d5d5d5; border-radius:50%; background-color:#fff; vertical-align:top; transition:background-color 0.25s ease-in-out;}
.visual .visual_control .prev,
.visual .visual_control .next{border-color:#000;}
.visual .visual_control button:before{display:block; position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat;}
.visual .visual_control .auto:before{background-image:url(/site/public/images/main/visual_pause.png); background-position:16px 13px;}
.visual .visual_control .auto.slick-play:before{background-image:url(/site/public/images/main/visual_play.png); background-position:14px 12px;}
.visual .visual_control .prev:before,
.visual .visual_control .next:before{background-image:url(/site/public/images/main/visual_arrow_off.png)}
.visual .visual_control .prev:before{background-position:13px 13px;}
.visual .visual_control .next:before{background-position:13px 13px; transform:rotateY(180deg);}
@media all and (min-width:1001px){
    .visual .visual_control button:hover{background-color:#000;}
    .visual .visual_control .auto:hover{background-color:#fff;}
    .visual .visual_control .prev:hover:before,
    .visual .visual_control .next:hover:before{background-image:url(/site/public/images/main/visual_arrow_on.png)}
}

/* 추모의 글 */
.memories{display:inline-block; position:relative; z-index:2; width:calc(100% - 1000px); padding-left:103px; vertical-align:top;}
.memories:before{display:block; position:absolute; top:-100px; left:-100px; width:990px; height:678px; background-image:url(/site/public/images/main/memorise_bg1.png); background-repeat:no-repeat;}
.memories .memories_title{position:relative; font-family:'GowunBatang';}
.memories .memories_title .subtitle{margin-bottom:5px; color:#d93b8a; font-size:21px; line-height:30px; letter-spacing:0.18em;}
.memories .memories_title .title{color:#3b3b3b; font-weight:700; font-size:45px; line-height:50px; letter-spacing:-0.025em;}
.memories .memories_list{margin-top:40px;}
.memories .memories_item{}
.memories .slick-list{overflow:visible; margin-right:-24px; margin-left:-24px;}
.memories .slick-slide{padding-right:24px; padding-left:24px;}
.memories .memories_anchor{display:block; position:relative; width:100%; height:322px; padding:56px 44px 50px; border-width:0; border-color:transparent; border-radius:25px; box-shadow:0 -34px 57px 0 rgba(187,202,221,0.22); background-color:rgba(255,255,255,0.6);}
.memories .memories_anchor:before{display:block; opacity:0; visibility:hidden; position:absolute; top:0; left:0; width:100%; height:100%; padding:5px; border-width:0; border-color:transparent; border-radius:25px; box-sizing:border-box; background:linear-gradient(to bottom, rgba(223,135,179,1) 0%,rgba(173,219,243,1) 100%); -webkit-mask:linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); -webkit-mask-composite:xor; transition:opacity 0.25s ease-in-out;}
.memories .memories_anchor .inner{position:relative; z-index:1;}
.memories .memories_anchor .text{display:block; overflow:hidden; height:90px; white-space:normal; word-break:keep-all; word-wrap:break-word; -webkit-box-orient:vertical; -webkit-line-clamp:3; color:#6d6d6d; font-size:19px; line-height:30px;}
.memories .memories_anchor .info{display:block; position:relative; height:18px; margin-top:80px; color:#6591ab; font-size:16px; line-height:18px;}
.memories .memories_anchor .info:before{display:block; position:absolute; top:-30px; left:0; width:100%; height:1px; background-color:#dae7f5;}
.memories .memories_anchor .info .name{display:inline-block; float:left; position:relative; vertical-align:top;}
.memories .memories_anchor .info .name:before{display:inline-block; position:relative; top:1px; width:17px; height:16px; margin-right:6px; background-image:url(/site/public/images/main/memorise_sprite.png); background-position:left 100%; background-repeat:no-repeat; background-size:252.94% 375%; vertical-align:top;}
.memories .memories_anchor .info .date{display:inline-block; float:right; vertical-align:top;}
.memories .memories_control{display:block; position:absolute; top:2px; right:20px;}
.memories .memories_control button{display:inline-block; position:relative; width:43px; height:30px; }
.memories .memories_control .next{margin-left:37px;}
.memories .memories_control button:before{display:block; position:absolute; top:9px; left:0; width:43px; height:12px; background-image:url(/site/public/images/main/memorise_sprite.png); background-repeat:no-repeat; background-size:100% 500%;}
.memories .memories_control .prev:before{background-position:left top;}
.memories .memories_control .next:before{background-position:left 45.83%;}
@media all and (min-width:1001px){
    .memories .memories_anchor:hover{background-color:rgba(255,255,255,0.55);}
    .memories .memories_anchor:hover:before{opacity:1; visibility:visible;}
}

/* rowgroup2 */
.rowgroup2{position:relative;}
.rowgroup2:before{display:block; position:absolute; width:100%; height:632px; border-top-left-radius:115px; border-bottom-right-radius:115px; background: linear-gradient(to right,  rgba(30,60,114,1) 0%,rgba(30,60,114,1) 25%,rgba(62,98,162,1) 100%);}
.rowgroup2:after{display:block; position:absolute; bottom:100%; right:0; z-index:-1; width:120px; height:120px;  background-color:rgba(62,98,162,1)}
.rowgroup2 .wrap{}

/* 바로가기 */
.quick{position:relative; padding-top:71px; padding-bottom:69px; padding-left:340px;}
.quick .quick_title{display:inline-block; position:absolute; top:100px; left:0;}
.quick .quick_title .title{display:inline-block; position:relative; color:#fff; font-weight:600; font-size:30px; line-height:32px; vertical-align:middle;}
.quick .quick_title .title:after{display:inline-block; position:relative; top:-2px; width:37px; height:37px; margin-left:18px; background-image:url(/site/public/images/main/quick_title.png); vertical-align:middle;}
.quick .quick_title .subtitle{display:block; margin-top:30px; color:rgba(255,255,255,0.39); font-size:17px; line-height:19px;}
.quick .quick_list{font-size:0; line-height:0;}
.quick .quick_item{display:inline-block; width:12.5%; height:157px; padding-right:38px;}
.quick .quick_item .quick_anchor{display:block; position:relative; width:100%; height:100%; padding-top:110px; border-radius:10px; background-color:#fff; text-align:center; transform:translateY(0);  transition:transform 0.25s ease-in-out;}
.quick .quick_item .quick_anchor:before{display:block; position:absolute; top:20px; left:calc(50% - 40px); width:78px; height:73px; background-image:url(/site/public/images/main/quick_center_sprite.png); background-repeat:no-repeat; background-size:100% 895.89%;}
.quick .quick_item.n1 .quick_anchor:before{background-position:left top;}
.quick .quick_item.n2 .quick_anchor:before{background-position:left 14.28%;}
.quick .quick_item.n3 .quick_anchor:before{background-position:left 28.57%;}
.quick .quick_item.n4 .quick_anchor:before{background-position:left 42.85%;}
.quick .quick_item.n5 .quick_anchor:before{background-position:left 57.14%;}
.quick .quick_item.n6 .quick_anchor:before{background-position:left 71.42%;}
.quick .quick_item.n7 .quick_anchor:before{background-position:left 85.71%;}
.quick .quick_item.n8 .quick_anchor:before{background-position:left 100%;}
.quick .quick_item .quick_anchor span{color:#244886; font-weight:500; font-size:17px; line-height:19px;}
@media all and (min-width:1001px){
    .quick .quick_item .quick_anchor:hover{transform:translateY(-25px);}
}

/* rowgroup3 */
.rowgroup3{position:relative; padding-top:60px; padding-bottom:112px; font-size:0; line-height:0;}
.rowgroup3:before{display:block; position:absolute; top:0; left:0; width:1480px; height:596px; border-radius:150px 150px 150px 0; background-color:#fff;}
.rowgroup3 .wrap{ font-size:0; line-height:0; }

/* 게시판 */
.board{display:inline-block; position:relative; width:1063px; padding-right:88px; padding-left:60px; vertical-align:top;}
.board:before{}
.board .board_tab{display:block; border-bottom:6px solid #ebebeb;}
.board .board_tab .tab_list{}
.board .board_tab .tab_item{display:inline-block; margin-right:21px; vertical-align:middle;}
.board .board_tab .tab_button{display:inline-block; position:relative; width:150px; height:70px; text-align:center;}
.board .board_tab .tab_button.long{width:170px;}
.board .board_tab .tab_button:before{display:block; position:absolute; bottom:-6px; left:50%; width:0; height:6px; background-color:#1d4990; transform:translateX(-50%); transition:width 0.25s ease-in-out;}
.board .board_tab .tab_button:after{display:inline-block; height:100%; vertical-align:middle;}
.board .board_tab .tab_button span{display:inline-block; position:relative; color:#9b9b9b; font-size:24px; line-height:28px; vertical-align:middle; transition:color 0.25s ease-in-out;}
.board .board_tab .tab_button span:before{display:block; opacity:0; visibility:hidden; position:absolute; top:-3px; right:-10px; width:8px; height:8px; border-radius:50%; background-color:#1d4990; transition:opacity 0.25s ease-in-out;}
/* active */
.board .board_tab .tab_item.active .tab_button:before{width:100%;}
.board .board_tab .tab_item.active .tab_button span{color:#1d4990; font-weight:700; font-size:30px; line-height:32px}
.board .board_tab .tab_item.active .tab_button span:before{opacity:1; visibility:visible;}

.board .board_content{}
.board .board_panel{display:none;}
.board .board_panel.active{display:block;}
.board .board_list{padding-top:48px;}
.board .board_item{margin-top:30px;}
.board .board_item:first-child{margin-top:0;}
.board .board_item:nth-child(2){margin-top:50px;}
.board .board_item:nth-child(n + 6){display:none;}
.board .board_item .board_anchor{display:block; position:relative; padding-left:28px;}
.board .board_item .board_anchor:before{display:block; position:absolute; top:7px; left:14px; width:6px; height:6px; border-radius:50%; background-color:#dedede;}
.board .board_item .board_anchor .subject{display:inline-block; position:relative; width:calc(100% - 130px); vertical-align:top;}
.board .board_item .board_anchor .subject span{display:inline-block; overflow:hidden; position:relative; max-width:100%; color:#808080; font-size:18px; line-height:20px; letter-spacing:-0.025em; vertical-align:top; text-overflow:ellipsis; white-space:nowrap; transition:color 0.25s ease-in-out;}
.board .board_item .board_anchor .subject span:before{display:block; position:absolute; bottom:0; left:0; width:0; height:1px; background-color:#1d4990; transition:width 0.25s ease-in-out;}
.board .board_item .board_anchor .text{display:none;}
.board .board_item .board_anchor .date{display:block; position:absolute; top:0; right:0; width:90px;}
.board .board_item .board_anchor .date .year,
.board .board_item .board_anchor .date .month,
.board .board_item .board_anchor .date .day{color:#808080; font-size:17px; line-height:20px; letter-spacing:-0.05em;}
.board .board_item .board_anchor .date .year:after,
.board .board_item .board_anchor .date .month:after{display:inline-block; position:relative; font-size:17px; line-height:20px; content:'-';}
/* 첫번째 글 */
.board .board_item:first-child .board_anchor{display:block; position:relative; padding-left:156px; padding-right:60px;}
.board .board_item:first-child .board_anchor:before{display:none;}
.board .board_item:first-child .board_anchor .subject{width:100%;}
.board .board_item:first-child .board_anchor .subject span{font-weight:600; color:#1d4990; font-size:26px; line-height:40px;}
.board .board_item:first-child .board_anchor .subject span:before{bottom:1px; height:2px;}
.board .board_item:first-child .board_anchor .text{display:block; display:-webkit-box; overflow:hidden; height:52px; margin-top:20px; white-space:normal; word-break:keep-all; word-wrap:break-word; -webkit-box-orient:vertical; -webkit-line-clamp:2; color:#808080; font-size:17px; line-height:26px;}
.board .board_panel.qna .board_item:first-child .board_anchor .text{display:none;}
.board .board_item:first-child .board_anchor .date{display:block; position:absolute; top:0; left:0; right:auto; width:120px; height:100px; padding:25px 0; border-radius:10px; background-color:#dde4ee; text-align:center;}
.board .board_item:first-child .board_anchor .date:before{display:block; position:absolute; top:10px; left:10px; width:calc(100% - 20px); height:calc(100% - 20px); background-color:#fff;}
.board .board_item:first-child .board_anchor .date:after{display:block; position:absolute; top:0; right:0; width:20px; height:20px; background-color:#dba959; color:#fff; font-weight:800;  font-size:12px; line-height:20px; content:'N';}
.board .board_item:first-child .board_anchor .date .year,
.board .board_item:first-child .board_anchor .date .month,
.board .board_item:first-child .board_anchor .date .day{position:relative; color:#1d4990; font-size:17px; line-height:20px; letter-spacing:-0.05em;}
.board .board_item:first-child .board_anchor .date .year:after{font-size:16px; line-height:18px; content:'.';}
.board .board_item:first-child .board_anchor .date .month:after{display:none;}
.board .board_item:first-child .board_anchor .date .year,
.board .board_item:first-child .board_anchor .date .month{font-size:16px; line-height:18px;}
.board .board_item:first-child .board_anchor .date .day{display:block; font-weight:700; font-size:32px; line-height:34px;}

.board .board_more{display:block; position:absolute; top:10px; right:88px; width:30px; height:30px;}
.board .board_more:before{display:block; position:absolute; top:calc(50% - 9px); right:0; width:17px; height:17px; background-image:url(/site/public/images/main/board_more.png); background-position:right center; background-repeat:no-repeat; transform:rotate(0deg); transition:transform 0.3s ease-in-out;}
@media all and (min-width:1001px){
    .board .board_item .board_anchor:hover .subject span{color:#1d4990;}
    .board .board_item .board_anchor:hover .subject span:before{width:100%;}
    .board .board_more:hover:before{transform:rotate(360deg);}
}

/* 팝업존 */
.popup{display:inline-block; width:697px; padding-right:40px; vertical-align:top;}
.popup .popup_title{color:#202020; font-weight:600; font-size:32px; line-height:36px;}
.popup .popup_list{overflow:hidden; width:657px; height:370px; margin-top:25px; border-radius:60px 0 60px 60px;}
.popup .popup_item{}
.popup .popup_anchor{}
.popup .popup_anchor .popup_image{width:100%; height:100%;}
.popup .popup_control{display:block; position:absolute; top:2px; right:40px; font-size:0; line-height:0;}
.popup .popup_control .count{display:inline-block; position:relative; width:100px; height:40px; text-align:center; vertical-align:top;}
.popup .popup_control .count .current{display:inline-block; color:#fff; font-weight:600; font-size:20px; line-height:40px; vertical-align:top;}
.popup .popup_control .count .total{display:inline-block; position:relative; color:#fff; font-weight:600; font-size:20px; line-height:40px; vertical-align:top;}
.popup .popup_control .count .total:before{display:inline-block; position:relative; color:#fff; font-weight:600; font-size:20px; line-height:38px; vertical-align:top; content:"-";}
.popup .popup_control .count .auto{display:inline-block; position:relative; width:25px; height:40px; background-image:url(/site/public/images/main/popup_pause.png); background-repeat:no-repeat; background-position:center center; vertical-align:top;}
.popup .popup_control .count .auto.slick-play{background-image:url(/site/public/images/main/popup_play.png);}
.popup .popup_control .prev,
.popup .popup_control .next{display:inline-block; position:relative; width:40px; height:40px; border-radius:50%;  vertical-align:top;}
.popup .popup_control .prev{margin-right:8px; margin-left:8px;}
.popup .popup_control .next{}
.popup .popup_control .prev:after,
.popup .popup_control .next:after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; background-image:url(/site/public/images/main/popup_arrow_off.png); background-repeat:no-repeat; background-position:15px 13px;}
.popup .popup_control .prev:after{}
.popup .popup_control .next:after{transform:rotate(180deg);}
/* 그라디언트 선 */
.popup .popup_control .count:before,
.popup .popup_control .prev:before,
.popup .popup_control .next:before{display:block; position:absolute; top:0; left:0; width:100%; height:100%; padding:1px; border-width:0; border-color:transparent; border-radius:40px; box-sizing:border-box; background:linear-gradient(85deg, rgba(173,219,243,1) 0%,rgba(223,135,179,1) 100%); -webkit-mask:linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); -webkit-mask-composite:xor; transition:opacity 0.25s ease-in-out;}
@media all and (min-width:1001px){
    .popup .popup_control .prev:hover:after,
    .popup .popup_control .next:hover:after{background-image:url(/site/public/images/main/popup_arrow_on.png)}
    .popup .popup_control .prev:hover:before,
    .popup .popup_control .next:hover:before{webkit-mask:unset; -webkit-mask-composite:unset;}
}



/* rowgroup4 */
.rowgroup4{}
.rowgroup4 .wrap{}

/* sns */
.social{padding-bottom:115px;}
.social .social_title{display:block; text-align:center;}
.social .social_title span{color:#986c31; background-image:linear-gradient(to right,  rgba(152,108,49,1) 0%,rgba(30,60,114,1) 84%,rgba(30,60,114,1) 100%); background-clip:text; -webkit-background-clip:text; -webkit-text-fill-color:transparent; font-family:'GowunBatang'; font-weight:600; font-size:48px; line-height:50px;}
.social .social_header{font-size:0; line-height:0; text-align:right;}
.social .social_header .item{display:inline-block; vertical-align:top;}
.social .social_header .item .button{position:relative; width:87px; height:64px; border-radius:20px 20px 25px 0;}
.social .social_header .item .button:before{display:block; position:absolute; bottom:0; right:100%; width:30px; height:30px;}
.social .social_header .item .button.youtube:after{display:block; position:absolute; bottom:0; right:100%; width:30px; height:30px; border-bottom-right-radius:25px; background-color:blue;}
.social .social_header .item .button.youtube{z-index:3; background-color:#d6263b;}
.social .social_header .item .button.kakao{z-index:2; background-color:#fae100;}
.social .social_header .item .button.insta{z-index:1; background: linear-gradient(to right,  rgba(214,59,123,1) 0%,rgba(154,75,165,1) 34%,rgba(63,53,219,1) 100%);}
.social .social_header .item .button.blog{background-color:#2db400;}
.social .social_header .item .button.youtube:before{background-color:#d6263b;}
.social .social_header .item .button.kakao:before{background-color:#fae100;}
.social .social_header .item .button.insta:before{background-color:#D63B7B;}
.social .social_header .item .button.blog:before{background-color:#2db400;}
.social .social_header .item .button span{display:block;}
.social .social_header .item .button.youtube span{}
.social .social_header .item .button.kakao span{}
.social .social_header .item .button.insta span{}
.social .social_header .item .button.blog span{}

.social .social_content{display:block; position:relative; width:100%; height:600px;}
.social .social_list{display:block; position:relative; z-index:5;}
.social .social_list .slick-list{overflow:visible !important;}
.social .social_list .slick-track{width:auto !important;}
.social .social_list .slick-slide{opacity:0 !important; position:absolute !important; left:0 !important; right:0; z-index:2; width:580px !important; margin-top:40px; margin-right:auto; margin-left:auto; text-align:center;}
.social .social_list .slick-slide.slick-active{opacity:1 !important;}
.social .social_list .slick-slide.prev_item,
.social .social_list .slick-slide.next_item{opacity:0.57 !important;}
.social .social_list .slick-slide.prev_item{left:-977px !important;}
.social .social_list .slick-slide.next_item{right:-984px !important;}

.social .social_anchor{width:464px; height:262px;}
.social .social_anchor .image{padding:12px; border-radius:20px; background-color:#fff;}
.social .social_anchor .image img{width:100%; height:100%; border-radius:10px;}
.social .social_anchor .subject{display:none; margin-top:25px; color:#fff; font-weight:700; font-size:30px; line-height:40px; text-align:center;}

.social .slick-slide.slick-current{z-index:5; margin-top:0;}
.social .slick-slide.slick-current .social_anchor{width:580px; height:328px;}
.social .slick-slide.slick-current .social_anchor .image{padding:15px;}
.social .slick-slide.slick-current .social_anchor .subject{display:block;}

.social .social_bg{display:block; overflow:hidden; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; border-radius:35px;}
.social .social_bg .bg_item{display:block; width:100%; height:600px;  background-size:cover; background-position:center 66%; background-repeat:no-repeat; filter:blur(80px);}

.social .social_control{position:absolute; z-index:5;}
.social .social_control button{}
.social .social_control .prev{}
.social .social_control .next{}