@charset "UTF-8";

/* colgroup */
.colgroup{float:right; position:relative; width:1070px; margin-top:64px; margin-bottom:30px}
@media all and (max-width:1440px){
    .colgroup{width:830px;}
}
@media all and (max-width:1200px){
    .colgroup{width:700px;}
}
@media all and (max-width:1000px){
    .colgroup{float:none; width:auto; margin-top:50px;}
}
@media all and (max-width:640px){
    .colgroup{margin-top:30px;}
}

/* 콘텐츠 */
#contents{position:relative; min-height:600px; margin-top:50px; margin-bottom:73px;}
@media all and (max-width:1000px){
    #contents{margin-top:40px;}
}
@media all and (max-width:640px){
    #contents{min-height:300px; margin-top:0; margin-bottom:25px;}
}

@keyframes split_ani {
    0%{
        opacity:0;
        transform:translateY(100%);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes fade_ani {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* 서브헤드 */
.sub_head{overflow:hidden; position:relative; left:50%; width:calc(100vw - 110px); min-height:200px; padding-top:40px; padding-bottom:39px; border-radius:30px 30px 120px 30px; text-align:center; transform:translateX(-50%);}
.sub_head:before{overflow:hidden; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:#003668 url('../../../site/english/images/sub/sub_img.jpg') no-repeat center / cover; transform:scale(1.15); transition:transform 2.5s ease-in-out;}
.sub_head .sub_title{position:relative; padding-bottom:15px;}
.sub_head .sub_title h2{color:#fff; font-size:55px; line-height:65px; letter-spacing:0; font-weight:600; font-family:'Georgia';}
.sub_head .sub_title h2 .whitespace{width:14px;}
.sub_head .sub_head_wrap{position:relative;}

.split_ani.splitting{overflow:hidden;}
.split_ani.splitting .char{opacity:0; transform:translateY(100%);}
.sub_head.active .split_ani.splitting .char{animation:split_ani 1.2s both;}
.sub_head.active:before{transform:scale(1);}
.sub_head.active .sub_head_wrap{animation:fade_ani 2s 1.6s both;}

@media all and (max-width:1600px){
    .sub_head{left:0; width:100%; transform:none;}
}
@media all and (max-width:1440px){
    .sub_head .sub_title h2{font-size:45px;}
}
@media all and (max-width:1200px){
    .sub_head .sub_title h2{padding:0 40px; font-size:40px; line-height:50px;}
    .sub_head .sub_title h2 .whitespace{width:12px;}
    .sub_head .sub_head_wrap{padding:0 20px;}
}
@media all and (max-width:1000px){
    .sub_head{min-height:160px; padding-top:44px; padding-bottom:37px; border-radius:15px 15px 45px 15px;}
    .sub_head .sub_title h2{padding:0 20px; font-size:24px; line-height:34px;}
    .sub_head .sub_title h2 .whitespace{width:8px;}
}
@media all and (max-width:640px){
    .sub_head{display:flex; min-height:140px; justify-content:center; align-items:center; padding-top:0; padding-bottom:0;}
    .sub_head .sub_title{padding-bottom:0;}
    .sub_head .sub_title h2{font-size:22px; line-height:32px;}
    .sub_head .sub_head_wrap{display:none;}
}

/* 브래드크럼 */
.breadcrumbs{display:inline-block; padding-top:11px; vertical-align:top;}
.breadcrumbs .breadcrumbs_item{display:inline-block; position:relative; margin-left:15px; padding-left:31px; color:#fff; font-size:16px; line-height:20px; letter-spacing:0; vertical-align:top;}
.breadcrumbs .breadcrumbs_item:before{display:block; position:absolute; top:0; bottom:0; left:0; width:12px; height:12px; margin:auto 0; background:url('../../../site/english/images/sub/breadcrumbs_sprite.png') no-repeat left 100% / 150% 341.66%; content:'';}
.breadcrumbs .breadcrumbs_item .breadcrumbs_anchor{display:block; position:relative; width:100%; height:100%; color:#fff;}
.breadcrumbs .breadcrumbs_item.home{width:24px; height:24px; margin-left:0; padding-left:0;}
.breadcrumbs .breadcrumbs_item.home:before{bottom:auto; right:0; width:18px; height:19px; margin:0 auto; background-position:left 0; background-size:100% 215.78%;}
.breadcrumbs .breadcrumbs_item.home .breadcrumbs_anchor{font-size:0; line-height:0;}
.breadcrumbs .breadcrumbs_item .breadcrumbs_anchor:hover{text-decoration:underline;}
@media all and (max-width:1200px){
    .breadcrumbs .breadcrumbs_item{margin-left:10px; padding-left:24px;}
}
@media all and (max-width:1000px){
    .breadcrumbs{padding-top:0;}
    .breadcrumbs .breadcrumbs_item.home{width:18px; height:18px;}
    .breadcrumbs .breadcrumbs_item.home:before{background-size:16px auto;}
    .breadcrumbs .breadcrumbs_item{margin-left:5px; padding-left:20px; font-size:13px; line-height:17px;}
}

/* 공유, 인쇄 */
.addons{display:inline-block; margin-left:44px; vertical-align:top;}
.addons .addons_item{display:inline-block; vertical-align:top;}
.addons .addons_button{width:120px; padding:10px 0 10px 23px; border-radius:30px; background-color:#002649; color:#fff; font-size:16px; line-height:20px; letter-spacing:0; text-align:left;}
.addons .addons_button span{position:relative; padding-left:28px; background:url('../../../site/english/images/sub/print_icon.png') no-repeat center left;}
@media all and (max-width:1200px){
    .addons{display:block; margin-top:15px; margin-left:0;}
}
@media all and (max-width:1000px){
    .addons{display:none;}
}

/* 사이드 메뉴 */
.side{float:left; position:relative; z-index:30; width:300px; font-size:0; line-height:0;}
@media all and (max-width:1200px){
    .side{width:260px;}
}

/* 사이트 타이틀 */
.side .side_title{position:relative; width:100%; padding-top:59px; padding-bottom:25px;}
.side .side_title:after{display:inline-block; height:100%; vertical-align:middle;}
.side .side_subject{display:inline-block; vertical-align:middle; color:#000; font-size:28px; line-height:30px; letter-spacing:0; font-weight:600; font-family:'Montserrat';}
.side .side_menu{position:relative}

/* 2차 메뉴 */
.side .menu .depth1_item{margin-bottom:10px; box-sizing:border-box;}
.side .menu .depth1_item.has:before{opacity:0; visibility:hidden; display:block; position:absolute; z-index:-1; top:0; left:0; width:100%; height:100%; border-radius:20px 20px 10px 10px; background-color:#f4f4f9;}
.side .menu .depth1_text{display:block; position:relative; padding:20px 50px 20px 29px; border-radius:10px; border:1px solid #d5d7dd; color:#1a1a1a; font-size:18px; line-height:28px; letter-spacing:0; font-weight:500; text-decoration:none; word-break:keep-all; transition-property:background,box-shadow,color;}
.side .menu .depth1_text:before{opacity:0; visibility:hidden; display:block; position:absolute; z-index:-1; top:-1px; left:-1px; width:calc(100% + 2px); height:calc(100% + 2px); border-radius:10px; background:linear-gradient(270deg, rgba(181,149,86,1) 0%, rgba(44,82,195,1) 100%);}
.side .menu .depth1_text:after{display:block; position:absolute; top:0; right:26px; bottom:0; margin-top:auto; margin-bottom:auto; background-image:url('../../../site/english/images/sub/side_sprite.png'); background-repeat:no-repeat; transition:none;}
.side .menu .depth1_item.has .depth1_text:after{width:14px; height:9px; background-size:100% 711.11%;}
/*.side .menu .depth1_text[target='_blank']:after{width:12px; height:12px; background-color:#000; transition:none}*/
/*.side .menu .depth1_text[target='_blank']:hover:after{background-color:#666;}*/

/* 2차 메뉴 활성화 */
.side .menu .depth1_item.active{position:relative; z-index:10}
.side .menu .depth1_item.active .depth1_text{border-color:transparent; box-shadow:8px 6px 30px 0 rgba(0,19,51,0.25); color:#fff; font-weight:600;}
.side .menu .depth1_item.active .depth1_text:before{opacity:1; visibility:visible;}
.side .menu .depth1_item.active .depth1_text:hover{text-decoration:none;}
.side .menu .depth1_item.has.active .depth1_text:after{background-position:left 34.54%; background-size:100% 711.11%;}
.side .menu .depth1_item.has.active:before{opacity:1; visibility:visible;}
.side .menu .depth1_text:hover{color:#b59556;}

/* 3차 메뉴 */
.side .menu .depth2{transition-property:visibility,opacity,background-color;}
.side .menu .depth2_list{padding-right:20px; padding-left:20px; transition-property:margin-top,margin-bottom;}
.side .menu .depth2_item{margin-top:0; transition-property:margin-top}
.side .menu .depth2_text{display:block; position:relative; margin-left:10px; padding-left:20px; padding-right:30px; text-decoration:none; transition:none;}
.side .menu .depth2_text:before{visibility:hidden; opacity:0; position:absolute; top:12px; left:1px; width:5px; height:5px; border-radius:50%; background-color:#757b8e; transition-property:visibility,opacity}
.side .menu .depth2_item.has .depth2_text:after{display:block; position:absolute; top:0; right:8px; bottom:0; width:12px; height:8px; margin:auto 0; background:url('../../../site/english/images/sub/side_sprite.png') no-repeat left 67.85% / 116.66% 800%; transition:none;}
.side .menu .depth2_text[target='_blank']:after{display:inline-block; width:0; height:0; margin-top:6px; margin-left:10px; background:url('../../../site/english/images/common/lnb_blank.png') no-repeat; vertical-align:top; transition:none;}

/* 3차 메뉴 활성화 */
.side .menu .depth1_item.active .depth2{visibility:visible; opacity:1; border-radius:0 0 10px 10px; /*background-color:#f4f4f9;*/}
.side .menu .depth1_item.active .depth2_list{margin-top:18px; margin-bottom:29px;}
.side .menu .depth1_item.active .depth2_item{margin-top:3px;}
.side .menu .depth1_item.active .depth2_item:first-child{margin-top:0;}
.side .menu .depth1_item.active .depth2_text{color:#4a4f66; font-size:17px; line-height:27px; letter-spacing:0; word-break:keep-all;}
.side .menu .depth1_item.active .depth2_text:before{visibility:visible; opacity:1; display:block;}
.side .menu .depth1_item.active .depth2_item.active .depth2_text{color:#957c4b; font-weight:600;}
.side .menu .depth1_item.active .depth2_item.active .depth2_text:before{background-color:#957c4b;}
.side .menu .depth1_item.active .depth2_item.has.active .depth2_text:after{background-position:left 100%; background-size:116.66% 800%;}
.side .menu .depth1_item.active .depth2_text[target='_blank']:after{width:16px; height:16px;}

/* 4차 메뉴 */
.side .menu .depth3{transition-property:visibility,opacity}
.side .menu .depth3_list{margin-top:0; padding-top:0; transition-property:margin-top,padding-top,margin-bottom,padding-bottom,background-color;}
.side .menu .depth3_item{margin-top:0; transition-property:margin-top}
.side .menu .depth3_text{position:relative; padding-left:0; color:#4a4f66; font-size:0; line-height:0; letter-spacing:0; word-break:keep-all; transition:none}
.side .menu .depth3_text:before{visibility:hidden; opacity:0; display:block; position:absolute; top:13px; left:0; width:0; height:0; background-color:#d5d7dd; transition:none;}
/*.side .menu .depth3_text[target='_blank']:after{display:inline-block; width:0; height:0; margin-left:5px; background-color:#000; transition:none}*/

/* 4차 메뉴 활성화 */
.side .menu .depth1_item.active .depth2_item.active .depth3{visibility:visible; opacity:1; margin-top:18px;}
.side .menu .depth1_item.active .depth2_item.active .depth3_list{margin-bottom:10px; padding:14px 30px 19px; border-radius:10px; background-color:#fff;}
.side .menu .depth1_item.active .depth2_item.active .depth3_item{margin-top:6px;}
.side .menu .depth1_item.active .depth2_item.active .depth3_item:first-child{margin-top:0;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text{padding-left:20px; font-size:17px; line-height:27px; letter-spacing:0;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text:hover{color:#1a1a1a;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text:before{visibility:visible; opacity:1; width:6px; height:2px;}
.side .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth3_text{color:#1a1a1a;}
/*.side .menu .depth1_item.active .depth2_item.active .depth3_text[target='_blank']:after{width:12px; height:12px}*/
@media all and (max-width:1000px){
    .side{display:none;}
}

/* cms 탭메뉴 */
.cms_tab{position:relative; margin-top:50px;}
.tab{}
.tab .tab_select{display:none;}
.tab .tab_list{font-size:0; line-height:0;}
.tab .tab_item{display:inline-block; position:relative; width:calc((100% - 10px)/2); margin-right:10px; margin-bottom:10px; border-radius:10px; border:1px solid #d5d7dd; box-sizing:border-box; text-align:center; vertical-align:top; transition-property:border-color; transition-duration:0.25s; transition-timing-function:ease-in-out;}
.tab .tab_item:nth-child(2n){margin-right:0;}
.tab .tab_button{overflow:hidden; width:100%; height:69px; padding:0 15px; color:#4a4f66; font-size:17px; line-height:24px; letter-spacing:0; font-weight:600; word-break:keep-all; transition:color 0.25s ease-in-out;}
.tab .tab_button:after{display:inline-block; height:100%; vertical-align:middle;}
.tab .tab_button span{vertical-align:middle;}
.tab .tab_button:hover{color:#2d5ec1;}
.tab .tab_item.active{border-color:#2d5ec1}
.tab .tab_item.active .tab_button{color:#2d5ec1;}
.tab .tab_content{display:none;}
.tab .tab_content.active{display:block;}
@media all and (max-width:1000px){
    .tab .tab_button{height:53px;}
}
@media all and (max-width:640px){
    .cms_tab{margin-top:30px; margin-bottom:20px;}
    .tab .tab_button{height:46px; padding:0 10px; font-size:14px; line-height:18px;}
}
