@charset "UTF-8";

/* 997 Greeting */
.greeting{position:relative;}
.greeting .greeting_top{position:relative; padding-top:195px; padding-bottom:20px;}
.greeting .greeting_top:before{display:block; position:absolute; top:32px; right:141px; width:410px; height:409px; background:url('/site/english/images/contents/cts997_bg.png') no-repeat 0 0 / cover;}
.greeting .greeting_top:after{display:block; position:absolute; top:124px; left:0; width:866px; height:105px; background:url('/site/english/images/contents/cts997_text.png') no-repeat 0 0 / cover;}
.greeting .greeting_top .greeting_img{position:absolute; z-index:10; top:0; right:9px;}
.greeting .greeting_top .title{position:relative; z-index:10; color:#2d5ec1; font-size:30px; line-height:48px; letter-spacing:0; font-weight:600; font-family:'Montserrat';}
.greeting .greeting_top .text{display:block; z-index:10; position:relative; margin-top:32px; padding-left:21px; color:#1a1a1a; font-size:18px; line-height:28px; font-weight:500; font-family:'Montserrat';}
.greeting .greeting_top .text:before{display:block; position:absolute; top:7px; left:0; width:2px; height:42px; background-color:#000;}
.greeting .greeting_content{margin-top:57px;}
.greeting .greeting_content p{color:#26293d; word-break:keep-all;}
.greeting .greeting_content p+p{margin-top:25px;}
@media all and (max-width:1200px){
    .greeting .greeting_top .greeting_img{right:0;}
    .greeting .greeting_top .title{text-shadow:0 0 15px #fff;}
}
@media all and (max-width:700px){
    .greeting .greeting_top{padding-top:0; padding-bottom:0;}
    .greeting .greeting_top:before{top:0; left:0; right:0; margin:0 auto;}
    .greeting .greeting_top:after{display:none;}
    .greeting .greeting_top .greeting_img{position:relative; text-align:center;}
    .greeting .greeting_top .title{padding-top:20px; font-size:28px; line-height:44px; text-shadow:none;}
}
@media all and (max-width:640px){
    .greeting .greeting_top:before{width:328px; height:327px;}
    .greeting .greeting_top .greeting_img{height:300px;}
    .greeting .greeting_top .title{font-size:24px; line-height:30px;}
    .greeting .greeting_top .text{margin-top:15px; padding-left:10px; font-size:15px; line-height:22px;}
    .greeting .greeting_top .text:before{top:6px; height:32px;}
    .greeting .greeting_content{margin-top:30px;}
    .greeting .greeting_content p+p{margin-top:20px;}
}

/* 1001 Mission&Vision */
.cts1001 p{word-break:keep-all;}

/* 1002 History */
.history{position:relative;}
.history .history_list{margin-top:60px; font-size:0; line-height:0;}
.history .history_item{position:relative;}
.history .history_item:before{display:block; position:absolute; top:0; left:215px; width:1px; height:100%; background-color:#e3e5e8;}
.history .history_item:first-child:before{top:20px;}
.history .history_item:last-child:before{top:auto; bottom:calc(100% - 60px); height:100px;}
.history .history_item+.history_item{padding-top:40px;}
.history .history_item .year{display:inline-block; position:relative; width:216px; padding-left:40px; color:#a4916c; font-size:40px; line-height:50px; letter-spacing:0; font-style:italic; font-family:'Georgia'; vertical-align:top;}
.history .history_item .year:before{display:block; position:absolute; z-index:10; top:17px; right:-7px; width:15px; height:15px; border-radius:50%; background-color:#a4916c;}
.history .history_item .content{display:inline-block; position:relative; width:calc(100% - 216px); vertical-align:top;}
.history .history_item .content .month{display:inline-block; width:187px; padding:9px 12px 0 66px; color:#1a1a1a; font-size:22px; line-height:32px; letter-spacing:0; font-weight:600; font-family:'Montserrat'; vertical-align:top; word-break:keep-all;}
.history .history_item .content .bu{display:inline-block; width:calc(100% - 187px); margin-top:8px;}
.history .history_item .content .bu li{word-break:keep-all;}
@media all and (max-width:1200px){
    .history .history_item .content .month{display:block; width:100%;}
    .history .history_item .content .bu{width:100%; padding-left:66px;}
}
@media all and (max-width:1000px){
    .history .history_list{margin-top:0;}
}
@media all and (max-width:640px){
    .history .history_item+.history_item{padding-top:30px;}
    .history .history_item:before{left:104px;}
    .history .history_item .year{width:105px; padding-left:10px; font-size:26px; line-height:36px;}
    .history .history_item .year:before{right:-6px; width:12px; height:12px;}
    .history .history_item .content{width:calc(100% - 105px);}
    .history .history_item .content .month{padding:5px 10px 0 28px; font-size:18px; line-height:28px;}
    .history .history_item .content .bu{padding-left:28px;}
}

/* 1756 22SendingStates */
.cts1756 .cts1756_box{position:relative; min-height:501px; margin-bottom:25px; padding:71px 145px 64px; background:url('/site/english/images/contents/cts1756_bg.jpg') no-repeat top center / cover; text-align:center;}
.cts1756 .cts1756_box p{position:relative; padding-top:128px; color:#26293d; font-size:18px; line-height:29px; letter-spacing:0; word-break:keep-all;}
.cts1756 .cts1756_box p:before{display:block; position:absolute; top:0; left:0; right:0; width:117px; height:99px; margin:0 auto; background:url('/site/english/images/contents/cts1756_icon.png') no-repeat 0 0 / cover;}
.cts1756 .cts1756_box span{position:relative; margin-top:20px; padding-top:46px; color:#26293d; font-size:16px; font-weight:300; font-style:italic; word-break:keep-all;}
.cts1756 .cts1756_box span:before{display:block; position:absolute; top:0; left:0; right:0; width:30px; height:20px; margin:0 auto; background:url('/site/english/images/contents/cts1756_deco.png') no-repeat 0 0 / cover;}
.cts1756 .caution{margin-bottom:55px;}
.cts1756 .box.basic{margin-top:70px; padding:35px;}

.country_btn_wrap{position:relative; margin-top:28px; margin-right:-10px; margin-bottom:46px;font-size:0; line-height:0;}
.country_btn_wrap .country_btn{display:inline-block; width:calc((100%/6) - 10px); height:65px; margin-right:10px; margin-bottom:10px; padding:10px 0 10px 17px; border-radius:10px; border:1px solid #d5d7dd; color:#4a4f66; vertical-align:top; transition:all 0.25s ease-in-out;}
.country_btn_wrap .country_btn:before{display:inline-block; height:100%; vertical-align:middle;}
.country_btn_wrap .country_btn img{}
.country_btn_wrap .country_btn span{margin-left:12px; font-size:16px; line-height:18px; word-break:keep-all; vertical-align:middle;}
.country_btn_wrap .country_btn:hover{border-color:#2d5ec1; color:#2d5ec1;}
@media all and (max-width:1440px){
    .cts1756 .cts1756_box{padding-left:75px; padding-right:75px;}
    .country_btn_wrap .country_btn{width:calc((100%/4) - 10px);}
}
@media all and (max-width:750px){
    .country_btn_wrap .country_btn{width:calc((100%/3) - 10px);}
}
@media all and (max-width:640px){
    .cts1756 .cts1756_box{min-height:auto; margin-bottom:15px; padding:40px 30px 50px;}
    .cts1756 .cts1756_box p{padding-top:80px; font-size:16px; line-height:26px;}
    .cts1756 .cts1756_box p:before{width:70px; height:59px;}
    .cts1756 .cts1756_box span{margin-top:15px; padding-top:30px; font-size:14px;}
    .cts1756 .cts1756_box span:before{width:22px; height:15px;}
    .cts1756 .caution{margin-bottom:35px;}
    .cts1756 .box.basic{margin-top:35px; padding:25px 20px;}

    .country_btn_wrap{margin-top:15px; margin-bottom:30px;}
    .country_btn_wrap .country_btn{width:calc((100%/2) - 10px);}
}
@media all and (max-width:480px){
    .country_btn_wrap .country_btn{height:60px; padding-left:12px;}
    .country_btn_wrap .country_btn span{margin-left:10px; font-size:14px; line-height:16px;}
}

/* 1007 Korean Memorial Days */
.memorial_box{position:relative; min-height:630px; margin-bottom:43px; padding:79px 60px 334px; background:url('/site/english/images/contents/cts1007_bg.jpg') no-repeat 0 center / cover; text-align:center;}
.memorial_box:before{display:block; position:absolute; bottom:0; left:0; right:0; width:611px; height:597px; margin:0 auto; background:url('/site/english/images/contents/cts1007_deco02.png') no-repeat 0 center / cover;}
.memorial_box p{position:relative; padding-top:44px; color:#1a1a1a; font-size:24px; line-height:34px; letter-spacing:0; font-weight:600; font-family:'Montserrat'; word-break:keep-all;}
.memorial_box p:before{display:block; position:absolute; top:0; left:0; right:0; width:30px; height:20px; margin:0 auto; background:url('/site/english/images/contents/cts1007_deco01.png') no-repeat 0 center / cover;}
.memorial_box span{position:relative; margin-top:15px; color:#26293d; word-break:keep-all;}
.cts1007 .history .history_list{margin-top:120px;}
.cts1007 .history .history_item+.history_item{padding-top:46px;}
.cts1007 .history .history_item:before{left:245px;}
.cts1007 .history .history_item .year{width:246px; padding-top:6px; padding-left:0; padding-right:65px; font-size:30px; line-height:40px; text-align:right;}
.cts1007 .history .history_item .content{width:calc(100% - 246px);}
.cts1007 .history .history_item .content .month{display:block; width:100%; padding-left:58px;}
.cts1007 .history .history_item .content p{margin-top:17px; padding-left:58px; padding-right:25px; font-size:17px; line-height:27px; word-break:keep-all;}
@media all and (max-width:1440px){
    .memorial_box span br{display:none;}
}
@media all and (max-width:1000px){
    .cts1007 .history .history_list{margin-top:0;}
}
@media all and (max-width:800px){
    .memorial_box{padding-bottom:280px;}
    .memorial_box:before{width:488px; height:477px;}
}
@media all and (max-width:640px){
    .memorial_box{min-height:auto; padding:40px 25px 180px;}
    .memorial_box:before{width:305px; height:298px;}
    .memorial_box p{padding-top:30px; font-size:18px; line-height:28px;}
    .memorial_box p:before{width:24px; height:16px;}
    .cts1007 .history .history_item+.history_item{padding-top:30px;}
    .cts1007 .history .history_item:before{right:auto; left:11px;}
    .cts1007 .history .history_item .year{padding-top:4px; padding-left:35px; padding-right:0; font-size:26px; line-height:36px; text-align:left;}
    .cts1007 .history .history_item .year:before{right:auto; left:6px;}
    .cts1007 .history .history_item .content{width:100%;}
    .cts1007 .history .history_item .content .month{padding:10px 10px 0 35px;}
    .cts1007 .history .history_item .content p{margin-top:10px; padding-left:35px; padding-right:0; font-size:15px; line-height:22px;}
}

/* 968 Memorial Facilities */
.cts968 .memorial_box{padding-left:50px; padding-right:50px;}
.cts968 .memorial_box:before{width:692px; height:597px; background-image:url('/site/english/images/contents/cts968_deco.png');}
.cts968 .box.icon .box_wrap:before{top:41px; left:51px; width:154px; height:165px; background:url('/site/english/images/contents/cts968_icon.png');}
.cts968 .box.icon .box_wrap .btn{min-width:300px; margin-top:32px; padding-left:20px; text-align:left;}
.cts968 .box.icon .box_wrap .btn:after{display:inline-block; width:18px; height:18px; margin-left:17px; background:url('/site/english/images/template/btn_icon.png') no-repeat 0 0 / cover; vertical-align:-3px;}
@media all and (min-width:1441px){
    .cts968 .box.icon .box_wrap{padding-right:125px;}
}
@media all and (max-width:800px){
    .cts968 .memorial_box:before{width:553px; height:477px;}
}
@media all and (max-width:640px){
    .cts968 .memorial_box{padding-left:25px; padding-right:25px;}
    .cts968 .memorial_box:before{width:311px; height:268px;}
    .cts968 .box.icon .box_wrap .btn{min-width:auto; margin-top:20px; padding-left:12px;}
    .cts968 .box.icon .box_wrap .btn:after{width:14px; height:14px; margin-left:12px; vertical-align:-2px;}
}

/* 1291 Memorial Facilities */
.country{}
.country .country_title{position:relative; min-height:131px; margin-bottom:38px; padding:54px 0 37px 207px;}
.country .country_title:before{display:block; position:absolute; top:0; left:0; width:130px; height:131px; background:url('/site/english/images/contents/cts1291_deco.png') no-repeat 0 0 / cover;}
.country .country_title:after{display:block; position:absolute; top:-3px; left:36px; width:209px; height:180px; background-image:url('/site/english/images/contents/cts1291_flag.png'); background-repeat:no-repeat; background-size:cover;}
.country .country_title.belgium:after{background-image:url('/site/english/images/contents/cts1293_flag.png');}
.country .country_title.luxembourg:after{background-image:url('/site/english/images/contents/cts1295_flag.png');}
.country .country_title.canada:after{background-image:url('/site/english/images/contents/cts1297_flag.png');}
.country .country_title.colombia:after{background-image:url('/site/english/images/contents/cts1299_flag.png');}
.country .country_title.ethiopia:after{background-image:url('/site/english/images/contents/cts1301_flag.png');}
.country .country_title.denmark:after{background-image:url('/site/english/images/contents/cts1302_flag.png');}
.country .country_title.france:after{background-image:url('/site/english/images/contents/cts1304_flag.png');}
.country .country_title.greece:after{background-image:url('/site/english/images/contents/cts1306_flag.png');}
.country .country_title.india:after{background-image:url('/site/english/images/contents/cts1308_flag.png');}
.country .country_title.italy:after{background-image:url('/site/english/images/contents/cts1310_flag.png');}
.country .country_title.netherlands:after{background-image:url('/site/english/images/contents/cts1312_flag.png');}
.country .country_title.newzealand:after{background-image:url('/site/english/images/contents/cts1314_flag.png');}
.country .country_title.norway:after{background-image:url('/site/english/images/contents/cts1316_flag.png');}
.country .country_title.philippines:after{background-image:url('/site/english/images/contents/cts1318_flag.png');}
.country .country_title.southafrica:after{background-image:url('/site/english/images/contents/cts1320_flag.png');}
.country .country_title.sweden:after{background-image:url('/site/english/images/contents/cts1322_flag.png');}
.country .country_title.thailand:after{background-image:url('/site/english/images/contents/cts1324_flag.png');}
.country .country_title.tűrkiye:after{background-image:url('/site/english/images/contents/cts1326_flag.png');}
.country .country_title.uk:after{background-image:url('/site/english/images/contents/cts1328_flag.png');}
.country .country_title.usa:after{background-image:url('/site/english/images/contents/cts1330_flag.png');}
.country .country_title.germany:after{background-image:url('/site/english/images/contents/cts1365_flag.png');}
.country .country_title .name{display:block; color:#1a1a1a; font-size:34px; line-height:40px; font-weight:600; font-family:'Montserrat'; word-break:keep-all; text-align:left;}
.country .country_select{position:absolute; display:inline-block; z-index:30; top:42px; right:30px; width:204px;}
.country .country_select .country_show{display:block; position:relative; width:100%; height:50px; padding-left:28px; border-radius:30px; background-color:#f4f4f9; color:#4a4f66; text-align:left;}
.country .country_select .country_show:before{display:block; position:absolute; top:0; right:20px; bottom:0; width:14px; height:9px; margin:auto 0; background:url('/site/english/images/contents/cts1291_arrow.png') no-repeat 0 0 / cover; transition:transform 0.25s ease-in-out;}
.country .country_select .country_panel{display:none; position:absolute; top:100%; left:0; width:100%; margin-top:8px; border-radius:30px; box-shadow:25px 17px 25px 0 rgba(192,204,226,0.3); background-color:#f4f4f9;}
.country .country_select .country_list{padding:15px 28px;}
.country .country_select .country_item{position:relative; padding:3px 0; text-align:left;}
.country .country_select .country_item .country_anchor{display:block; position:relative; padding-left:15px; font-size:15px; line-height:22px; word-break:keep-all;}
.country .country_select .country_item .country_anchor:before{display:block; position:absolute; top:10px; left:0; width:3px; height:3px; border-radius:50%; background-color:#757b8e;}
.country .country_select .country_show.on:before{transform:rotate(180deg);}
@media all and (max-width:1440px){
    .country .country_title{text-align:right;}
    .country .country_select{position:relative; top:auto; right:auto; margin-top:35px; margin-right:20px;}
}
@media all and (max-width:1000px){
    .country .country_title{min-height:auto; padding-bottom:0;}
}
@media all and (max-width:800px){
    .country .country_title{padding:38px 0 0 170px;}
    .country .country_title:before{width:104px; height:104px;}
    .country .country_title:after{width:167px; height:144px;}
    .country .country_title .name{font-size:30px; line-height:36px;}
}
@media all and (max-width:640px){
    .country .country_title{margin-top:30px; padding:90px 20px 0; text-align:center;}
    .country .country_title:before{left:-65px; right:0; width:78px; height:78px; margin:0 auto;}
    .country .country_title:after{right:0; width:125px; height:108px; margin:auto;}
    .country .country_title .name{font-size:24px; line-height:30px; text-align:center;}
    .country .country_select{width:180px; margin-top:20px; margin-right:0;}
    .country .country_select .country_show{height:40px; padding-left:20px;}
    .country .country_select .country_show:before{right:15px; width:12px; height:8px;}
    .country .country_select .country_list{padding-left:20px; padding-right:20px;}
    .country .country_select .country_item .country_anchor{padding-left:12px; font-size:14px; line-height:20px;}
    .country .country_select .country_item .country_anchor:before{top:9px;}
}

/* 999 Former Ministers */
.cts999 .history .history_list{margin-top:67px;}
.cts999 .history .history_item:before{display:none;}
.cts999 .history .history_item .year{width:317px; margin-top:8px; padding-left:0; padding-right:40px; text-align:right;}
.cts999 .history .history_item .year:before{display:none;}
.cts999 .history .history_item .content{float:right; width:calc(100% - 317px); padding-bottom:20px;}
.cts999 .history .history_item .content .num{position:relative; width:70px; height:70px; border:1px solid #a4916c; border-radius:50%; background-color:#fff; color:#a4916c; font-size:18px; line-height:70px; vertical-align:top; font-weight:600; font-family:'Montserrat'; text-align:center;}
.cts999 .history .history_item .content .num:before{display:block; position:absolute; z-index:-1; top:100%; left:50%; width:1px; height:100%; background-color:#e3e5e8;}
.cts999 .history .history_item .content:last-child .num:before{display:none;}
.cts999 .history .history_item .content .month{display:inline-block; width:259px; height:70px; padding:0 10px 0 28px;}
.cts999 .history .history_item .content .month:before{display:inline-block; height:100%; vertical-align:middle;}
.cts999 .history .history_item .content .month span{vertical-align:middle;}
.cts999 .history .history_item .content .text{display:inline-block; width:calc(100% - 329px); margin-top:21px; color:#4a4f66; font-size:17px; line-height:28px; vertical-align:top; word-break:keep-all;}
@media all and (max-width:1440px){
    .cts999 .history .history_item .year{width:250px;}
    .cts999 .history .history_item .content{width:calc(100% - 250px);}
}
@media all and (max-width:1200px){
    .cts999 .history .history_item .year{width:100%; margin-top:0; margin-bottom:20px; padding-left:40px; text-align:left;}
    .cts999 .history .history_item .content{width:100%; padding-left:40px;}
}
@media all and (max-width:1000px){
    .cts999 .history .history_list{margin-top:0;}
}
@media all and (max-width:640px){
    .cts999 .history .history_item .year{margin-bottom:15px; padding-left:10px;}
    .cts999 .history .history_item .content{padding-left:10px; padding-bottom:10px;}
    .cts999 .history .history_item .content .num{width:50px; height:50px; font-size:15px; line-height:50px;}
    .cts999 .history .history_item .content .month{width:auto; height:50px; padding-left:20px;}
    .cts999 .history .history_item .content .text{width:100%; margin-top:-10px; padding-left:70px; font-size:15px; line-height:22px;}
}

/* 1013 Location and Contact Info */
.map_box .map{position:relative; padding:0; border-radius:30px 120px 30px 200px; border:none;}
.map_box .root_daum_roughmap{width:100%; height:500px;}
.map_box .root_daum_roughmap .wrap_map{height:100%;}
.map_box .root_daum_roughmap .wrap_map .roughmap_maker_label{display:none;}
.map_box .root_daum_roughmap .wrap_map .roughmap_maker_label .roughmap_lebel_text{padding:0; background-color:transparent; color:#fff; font-size:15px; line-height:17px; font-weight:300;}
.map_box .root_daum_roughmap .border1,
.map_box .root_daum_roughmap_landing .border3,
.map_box .root_daum_roughmap_landing .border4{border:none; background-color:transparent;}
.map_box .map_info{position:relative; z-index:10; margin-top:-80px; padding-top:197px;}
.map_box .map_info:before{display:block; position:absolute; top:0; left:0; right:0; width:160px; height:160px; margin:0 auto; border-radius:30px 60px 30px 60px; box-shadow:8px 6px 30px 0 rgba(0,19,51,0.25); background:url('/site/english/images/contents/cts1013_icon01.png') no-repeat center / cover, linear-gradient(315deg, rgba(181,149,86,1) 0%, rgba(44,82,195,1) 100%);}
.map_box .map_info .title{color:#26293d; font-size:24px; line-height:28px; font-weight:600; font-family:'Montserrat';}
.map_box .map_info .info_address{position:relative; text-align:center;}
.map_box .map_info .info_address p{margin-top:16px; color:#4a4f66; font-size:20px; line-height:30px; word-break:keep-all;}
.map_box .map_info .info_list{position:relative; margin-top:37px; padding-top:58px; border-top:1px solid #d5d7dd; font-size:0; line-height:0;}
.map_box .map_info .info_item{display:inline-block; position:relative; width:calc((100% - 50px)/3); margin-right:25px; padding:8px 0 0 102px;  vertical-align:top;}
.map_box .map_info .info_item:last-child{margin-right:0;}
.map_box .map_info .info_item:before{display:block; position:absolute; top:0; left:0; width:80px; height:80px; border-radius:50%; background-color:#f4f4f9; background-repeat:no-repeat; background-position:center; background-size:cover;}
.map_box .map_info .info_item.tel:before{background-image:url('/site/english/images/contents/cts1013_icon02.png');}
.map_box .map_info .info_item.eng:before{background-image:url('/site/english/images/contents/cts1013_icon03.png');}
.map_box .map_info .info_item.fax:before{background-image:url('/site/english/images/contents/cts1013_icon04.png');}
.map_box .map_info .info_item .title{}
.map_box .map_info .info_item p{margin-top:7px; color:#4a4f66; font-size:17px; line-height:28px; font-weight:400; font-family:'Montserrat';}
@media all and (max-width:1440px){
    .map_box .map_info .info_item{width:calc(100% / 3); margin-right:0; padding-left:95px;}
}
@media all and (max-width:1200px){
    .map_box .map_info .info_item{width:50%; margin-bottom:30px;}
}
@media all and (max-width:1000px){
    .map_box .map{border-radius:30px 100px 30px 100px;}
}
@media all and (max-width:640px){
    .map_box .map{border-radius:20px 60px 20px 60px;}
    .map_box .root_daum_roughmap{height:350px;}
    .map_box .map_info{margin-top:-40px; padding-top:100px;}
    .map_box .map_info:before{width:80px; height:80px; border-radius:20px 30px 20px 30px;}
    .map_box .map_info .title{font-size:20px; line-height:24px;}
    .map_box .map_info .info_address p{margin-top:10px; font-size:16px; line-height:24px;}
    .map_box .map_info .info_list{margin-top:25px; padding-top:35px;}
    .map_box .map_info .info_item{margin-bottom:20px; padding:0 0 0 60px;}
    .map_box .map_info .info_item:before{width:50px; height:50px;}
    .map_box .map_info .info_item p{margin-top:4px; font-size:15px; line-height:22px;}
}
@media all and (max-width:480px){
    .map_box .map_info .info_item{width:100%;}
}

/* 1761 faq */
.accordion{position:relative;}
.accordion .accordion_list{border-top:1px solid #757b8e; border-bottom:1px solid #e3e5e8;}
.accordion .accordion_item{position:relative;}
.accordion .accordion_item+.accordion_item{border-top:1px solid #e3e5e8;}
.accordion .accordion_item .accordion_header{padding:21px 28px 18px 20px;}
.accordion .accordion_item .accordion_header .accordion_button{position:relative; width:100%; height:100%; text-align:left;}
.accordion .accordion_item .accordion_header .accordion_button:before{display:block; position:absolute; top:0; right:0; bottom:0; width:17px; height:11px; margin:auto 0; background:url('/site/english/images/contents/accordion_arrow1.png') no-repeat 0 0 / cover;}
.accordion .accordion_item .accordion_header .accordion_icon{width:40px; height:40px; margin-right:20px; border:1px solid #d5d7dd; border-radius:50px; color:#2d5ec1; font-size:20px; line-height:36px; letter-spacing:0; font-weight:700; vertical-align:middle; text-align:center;}
.accordion .accordion_item .accordion_header .accordion_title{width:calc(100% - 105px); color:#1a1a1a; font-size:20px; line-height:30px; letter-spacing:0; vertical-align:middle; word-break:keep-all;}
.accordion .accordion_item .accordion_body{display:none; padding:22px 20px; background-color:#f4f4f9;}
.accordion .accordion_item .accordion_body .accordion_icon{display:inline-block; width:40px; height:40px; margin-right:20px; border:1px solid #2d5ec1; border-radius:50px; background-color:#2d5ec1; color:#fff; font-size:20px; line-height:36px; letter-spacing:0; font-weight:700; vertical-align:top; text-align:center;}
.accordion .accordion_item .accordion_body .accordion_content{display:inline-block; width:calc(100% - 105px); padding-top:5px; color:#4a4f66; letter-spacing:0; vertical-align:top;}
.accordion .accordion_item .accordion_body .accordion_content a:hover{text-decoration:underline; text-underline-offset:3px;}
.accordion .accordion_item.active .accordion_header .accordion_title{color:#2d5ec1; font-weight:700;}
.accordion .accordion_item.active .accordion_header .accordion_button:before{background-image:url('/site/english/images/contents/accordion_arrow2.png');}
@media all and (max-width:640px){
    .accordion .accordion_item .accordion_header{padding:16px 20px 15px 15px;}
    .accordion .accordion_item .accordion_header .accordion_button:before{width:14px; height:8px;}
    .accordion .accordion_item .accordion_header .accordion_icon{width:35px; height:35px; margin-right:10px; font-size:16px; line-height:31px;}
    .accordion .accordion_item .accordion_header .accordion_title{width:calc(100% - 80px); font-size:16px; line-height:24px;}
    .accordion .accordion_item .accordion_body{padding:18px 15px;}
    .accordion .accordion_item .accordion_body .accordion_content{width:calc(100% - 49px);}
    .accordion .accordion_item .accordion_body .accordion_icon{width:35px; height:35px; margin-right:10px; font-size:16px; line-height:31px;}
}
